/*
* @section      Components
* @Components	Auth
*/

.auth {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	color: #6b6b6b;
	font-size: 13px;
	line-height: 1.2;
	&__sign-in,
	&__registration {
		display: flex;
		position: relative;
		margin: 3px;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			border-bottom: 1px dashed #6b6b6b;
		}
	}
	&__delimetr {
		position: relative;
		top: 2px;
		margin: 2px;
		height: calc(13px);
		width: 1px;
		background: #6b6b6b;
		transform-origin: 50% 50% 0;
		transform: rotate(20deg);
	}
}