/*
* @section      Components
* @Components	Banner
*/

.banner{
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	bottom: 0;
	left: 50%;
	background: $white;
	transform: translateX(-50%);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	&__asside{
		display: flex;
		align-items: center;
		font-size: 15px;
		font-weight: 700;
		background: $primary;
		color: $white;
		height: 36px;
		line-height: 36px;
		padding-left: 10px;
		padding-right: 10px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	&__cnt{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		font-size: 15px;
		font-weight: 700;
		padding-left: 10px;
		padding-right: 10px;
		color: $primary;
	}

	&__icon{}
	&__text{}
	&__time{
		margin-left: 4px;
	}
	&__day-to-finish,
	&__count{
		padding: 0 3px;
		
	}
}