/*
* @section      Components
* @Components	breadcrumbs
*/
$breadcrumbs--font: inherit;
$breadcrumbs--font-size: 13px;
$breadcrumbs--line-height: 20px;
$breadcrumbs--color: #6b6b6b;
$breadcrumbs--color__active: $black;
$breadcrumbs--offset: 10px;
$breadcrumbs--delimiter: 'content'; // content | triangle | icon


.breadcrumbs {
	display: block;
	line-height: $breadcrumbs--line-height;
	@include clearfix();
	li {
		float: left;
		position: relative;
		display: inline-block;
		a{
			text-decoration: underline;
			font-size: $breadcrumbs--font-size;
			line-height: $breadcrumbs--line-height;
			font-family: $breadcrumbs--font;
			color: $breadcrumbs--color;
		}
		.active {
			text-decoration: none;
			color: $breadcrumbs--color__active;
		}
		&:before {
			position: absolute;
			@if ($breadcrumbs--delimiter=='content'){
				content: '/';
				left: calc((-#{$breadcrumbs--offset} / 2) - 2px);
			} @else  if ($breadcrumbs--delimiter=='triangle'){
				content: '';
				top: 50%;
				left: calc((-#{$breadcrumbs--offset} / 2)  - (6px / 2));
				@include triangle(right, 4px, 6px, $primary);
				@include transform(translateY(-50%));
			}
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
		+ li{
			margin-left: $breadcrumbs--offset;
		}
	}
}