/*
* @section      Components
* @Components	BTN
*/

.btn{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	width: 186px;
	height: 40px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	border: 3px solid $primary;
	border-radius: 40px;
	color: $primary;
}

.btn-post{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	width: 146px;
	height: 34px;
	font-size: 15px;
	font-weight: 700;
	padding: 0 10px;
	color: $white;
	background: $primary;
	border-radius: 20px;

	&__icon{
		&--camera{
			width: 21px;
			height: 17px;
			background: url("../images/icons/icon-camera.png") no-repeat center center / cover;
		}
	}

	&__icon,
	&__text{
		margin: 4px;
	}
}


.btn-icon{
	position: relative;
	cursor: pointer;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	height: 34px;
	padding: 0 30px 0 15px;
	font-size: 15px;
	font-weight: 700;
	line-height: 2em;
	border: 3px solid $primary;
	border-radius: 40px;
	color: $primary;
	&__icon{
		position: absolute;
		top:50%;
		right: 8px;
		width: 14px;
		height: 14px;
		background: $primary;
		border-radius: 50%;
		transform: translateY(-50%);
		&:before{
			position: absolute;
			left: 50%;
			top: calc(50% - 1px);
			content: '\f106';
			color: $white;
			font-size: 10px;
			line-height: 1;
			font-family: $fa;
			transform: translateX(-50%)translateY(-50%);
		}
	}
}


.btn-group{
	display: flex;
	margin-left: -5px;
	margin-right: -5px;
	&__item{
		margin: 0 5px;
	}
}