/*
* @section      Components
* @Components	Shop
*/

.carouselFull-container {
	width: 100%;
	//height: calc(100vw * (600px / 1920px) );
}

.carouselFull {
	&__pagination {
		bottom: 40px;
	}
	&__title {
		position: relative;
		text-transform: uppercase;
		font-size: 78px;
		line-height: 1.2;
		font-weight: 900;
		padding-top: 100px;
		padding-bottom: 40px;
		color: $white;
		&:before {
			//content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 134px;
			height: 14px;
			background: $primary;
		}
	}

	@for $i from 1 through 6 {
		&:nth-child(#{$i}n) {
			background: url("../images/fullImages/full__img-#{$i}.jpg") no-repeat center center / cover;
		}
	}
}

//Pagination
.carouselFull__pagination {
	.swiper-pagination-bullet {
		position: relative;
		margin: 5px;
		width: 20px;
		height: 20px;
		background: $white;
		opacity: 1;
	}
	.swiper-pagination-bullet-active {
		&:before {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			width: 16px;
			height: 16px;
			background: $primary;
			border-radius: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}

@media (max-width: 1599px) {
	.carouselFull {
		&__title {
			padding-left: 200px;
		}
	}
	.carouselFull__pagination {
		//left: 0px;
	}
}

