/*
* @section      Components
* @Components	Category
*/
.category-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: -10px;
}


.category{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:280px;
	height: 120px;
	padding:20px;
	margin: 10px;
	background: #f7f7f7;
	border: 1px solid #e9e9e9;
	border-radius: 4px;
	&__icon{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		img{
			max-height: 40px;
		}
	}
	&__name{
		text-decoration: underline;
		font-size: 13px;
		font-weight: 700;
		width: 145px;
	}
}

.category{
	&:hover{
		cursor: pointer;
	}

	&__icon + *{
		//margin-left: 20px;
	}
}

* + .category-wrapper{
	margin-top: 20px;
}