/*
* @section      Components
* @Components	Comment in Card (index page)
*/

.comment-inCard {
	padding-left: 10px;
	padding-right: 10px;
	&__head {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		padding: 5px 0;
	}
	&__cnt {
		font-style: italic;
		font-size: 13px;
		line-height: 1.25;
		font-weight: 700;
	}

	&__img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		overflow: hidden;
	}
	&__name {
		text-decoration: underline;
		font-size: 15px;
		font-weight: 700;
		color: $primary;
	}
}

.comment-inCard {
	* + &__name {
		margin-left: 10px;
	}
}