/*
* @section      Components
* @Components	Coupon
*/

.coupon{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	overflow: hidden;
	margin: 0 0 5px;
	box-shadow: 1px 1px 5px 0 rgba(153, 153, 153, 1);
	&__img{
		position: relative;
		display: flex;
		overflow: hidden;
		background: $white;
		height: 200px;
	}
	&__panel{
		position: absolute;
		z-index: 1;
		color: #e7e7e7;
	}
	&__banner{}

	&__information{
		background: $white;
	}

	&__cnt{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		background: $white;
	}

	&__title{
		text-decoration: underline;
		font-size: 15px;
		line-height: 1.5;
		color: $black;
	}
	
	&__button{
		background: #f2f2f2;
	}
}

* + .coupon-container{
	margin-top: 25px;
}
