/*
* @section      Components
* @Components	Discount
*/

.discount{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	overflow: hidden;
	&__percent{
		position: relative;
		font-size: 15px;
		font-weight: 700;
		height: 38px;
		line-height: 38px;
		padding-left: 10px;
		padding-right: 10px;
		color: $white;
		background: $primary;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	&__prepercent{
		position: absolute;
		font-size: 10px;
		line-height: 1;
		font-weight: 400;
		top: 2px;
		left: 5px;
	}
	&__icons{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		padding: 0 10px;
	}
	&__icon{
		margin: 0 4px;
		width: 24px;
		height: 24px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		&[data-icon="crop"]{
			background-image: url("../images/icons/icon-crop.png");
		}
		&[data-icon="percent"]{
			background-image: url("../images/icons/icon-percent.png");
		}
	}
}