/*
* @section      Components
* @Components	Dressroom
*/

.dressroom-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: -10px;
}

.dressroom{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	overflow: hidden;
	width:220px;
	margin: 10px;
	box-shadow: 1px 1px 5px 0px rgba(153,153,153,1);
	&__cnt{
		padding-bottom: 20px;
		background: $white;
	}
	&__img{
		position: relative;
		display: flex;
		overflow: hidden;
		height: 215px;
	}
	&__panel{
		position: absolute;
		z-index: 1;
		color: #e7e7e7;
	}



	&__information{
		position: relative;
		background: $white;
		&:before{
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background: #e6e6e6;
		}
	}
}

.dressroom{
	&__img{
		img{
			transition: 0.3s ease all;
			&:hover{
				transform: scale(1.1);
			}
		}
	}
}

* + .dressroom-wrapper{
	margin-top: 40px;
}