/*
* @section      Components
* @Components	Filter
*/
.filter {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	&__img {
		cursor: pointer;
		img {
			width: 35px;
			height: 35px;
		}
	}
	&__tag {
		display: flex;
		align-items: center;
		margin: 0 0 0 10px;
		width: calc(100% - 35px - 10px);
	}
	&__search {
		input[type="search"] {
			max-width: 160px;
		}
	}
}

/*
* @section      Components
* @Components	Tag Filter
*/

.tag-filter {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 -4px;
	&__item {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		margin: 0 4px;
		height: 24px;
		max-width: 40%;
		background: #e5e5e5;
		padding-left: 10px;
		padding-right: 20px;
		border-radius: 24px;
	}
	&__icon {
	}
	&__text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 13px;
		line-height: 24px;
	}
	&__close {
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 6px;
		width: 12px;
		height: 12px;
		transform: translateY(-50%);
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			content: '';
			width: 8px;
			height: 8px;
			background: url("../images/tag-location__close.png") no-repeat center center / cover;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}


