/*
* @section      Components
* @Components	Footer Panel
*/

.footer-panel{
	//overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	height: 64px;
	&__1{
		width: 180px;
	}
	&__2{
		display: flex;
		padding-left:20px;
		padding-right:20px;
		width: 700px;
	}
	&__3{
		display: flex;
		justify-content: flex-end;
		width: 300px;
	}

	&__1, &__2, &__3{
		position: relative;
		&:before{
			//content: '';
			position: absolute;
			height: 64px;
			width: 1px;
			top: -100%;
			right: 0;
			background: #d7d7d7;
			transform: translateY(50%);
		}
		&:last-child{
			&:before{
				display: none;
			}
		}
	}
}