/*
* @section      Components
* @Components	Header-panel
*/

.header-panel{
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	height: 60px;
	&__1, &__2,	&__3, &__4{
		background: $white;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			height: 300px;
			width: 1px;
			top: -100%;
			right: 0;
			background: #d7d7d7;
			//transform: translateY(50%);
		}
		&:last-child{
			&:before{
				display: none;
			}
		}
	}
	&__1{
		width: 160px;
	}
	&__2,
	&__3{
		width: 360px;
		padding: 0 10px;
		//background: #eee;
	}
	&__4{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
		.btn-post{
			margin-right: 10px;
		}
		.auth{
			margin-left: 10px;
		}
	}
}