/*
* @section      Components
* @Components	Information
*/

$information-icons: (
		date : '\f017',
		likes : '\f08a',
		comments : '\f0e5',
		viewers : '\f06e',
		thumbsUp : '\f087',
		commentsO : '\f0e6',
		share : '\f064',
		chain : '\f0c1'
);

.information{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 10px 0;
	&__date,
	&__likes,
	&__comments,
	&__viewers,
	&__thumbsUp,
	&__commentsO,
	&__share,
	&__chain{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		margin: 0 8px;
		font-size: 12px;
		line-height: 1;
		color: #757575;
	}
	&__likes,
	&__comments,
	&__viewers,
	&__thumbsUp,
	&__commentsO,
	&__share,
	&__chain{
		cursor: pointer;
	}
	&__icon{
		display: flex;
		justify-content: center;
		align-items: center;
		color: $primary;
		width: 15px;
		height: 14px;
		font-size: 15px;
		margin-right: 4px;

		$contents: date likes comments viewers thumbsUp commentsO share chain;
		@each $content in $contents{
			&_#{$content}:before{
				content: map_get($information-icons, #{$content});
				font-family: $fa;
				font-size: 14px;
				line-height: 1;
			}
		}
	}

	&__likes{
		color: $primary;
		font-weight: 700;
	}

}