/*
* @section      Components
* @Components	Interactive Panel
*/

.interactive-panel{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px;
	&__liked,
	&__favorite{
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		width: 24px;
		height: 24px;
		font-size: 16px;
		font-family: $fa;
	}
	&__liked{
		&:before{
			content: '\f004';
		}
	}
	&__favorite{
		&:before{
			content: '\f005';
		}
	}
}