/*
* @section      Components
* @Components	Location
*/

.location {
	&__input {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
	}
	&__tag {
		max-width: calc(100% - 38px);
	}

	&__item {
	}
	&__search {
	}
}
* + .location__marker{
	margin-left: 10px;
}

/*
* @section      Components
* @Components	Tag location
*/

.tag-location {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 -4px;
	&__item {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		margin: 0 4px;
		height: 24px;
		max-width: 50%;
		background: #e5e5e5;
		padding-left: 10px;
		padding-right: 20px;
		border-radius: 24px;
	}
	&__icon {}
	&__text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 13px;
		line-height: 24px;
	}
	&__close {
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 6px;
		width: 12px;
		height: 12px;
		transform: translateY(-50%);
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			content: '';
			width: 8px;
			height: 8px;
			background: url("../images/tag-location__close.png") no-repeat center center / cover;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}