/*
* @section      Components
* @Components	Marker
*/
.marker{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	//width: 38px;
	&__icon{
		display: flex;
		height: 17px;
		&--location{
			width: 12px;
		}
		&--search{
			width: 15px;
		}
	}
	&__text{
		font-size: 13px;
		line-height: 24px;
	}
}

.marker,
.marker__icon + * {
	margin-left: 5px;
}