/*
* @section      Components
* @Components	Navigation
*/

.navigation{
	position: fixed;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 36px;
	height: auto;
	left: 0;
	top: 145px;
	background: #e4e4e4;
	color: $black;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: 0.3s ease all;
	box-shadow: 1px 1px 5px 0px rgba(153,153,153,1);
	z-index: 100;
	&__cnt{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
		height: 34px;
		background: $white;
	}
	&__icon{
		width: 36px;
		height: 36px;
	}
	&__img-wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
	}
	&__img{
		max-width: 23px;
		max-height: 17px;
	}
	&__text{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: calc(182px - 36px);
		font-size: 15px;
		line-height: 34px;
		padding-left: 10px;
		padding-right: 10px;

	}
}

.navigation:hover{
	width: 182px;
}

.navigation__item:hover{
	background: #e4e4e4;
	.navigation__img-wrapper,
	.navigation__text{
		background: #e4e4e4;
	}
	.navigation__img{
		transform: scale(1.2);
	}
}



//.navigation__icon + .navigation__text{
//	margin-left: 10px;
//}

.navigation__item + *{
	margin-top: 1px;
}