/*
* @section      Components
* @Components	News
*/

.news-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: -10px;
}

.news{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	width:280px;
	margin: 10px;
	padding-bottom: 20px;
	&__img{
		position: relative;
		display: flex;
		overflow: hidden;
		height: 200px;
	}
	&__cnt{
		color: $black;
	}
	&__title{
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-decoration: underline;
		font-size: 21px;
		line-height: 1.3;
	}

	&__rating{
		position: absolute;
		left: 0;
		right: 0;
		bottom: -76px;
		//bottom: 0;
		transition: 0.3s;
	}

	&__information{
		margin: 0 -8px;
	}
}

.news{
	&__img{
		img{
			transition: 0.3s ease all;
			&:hover{
				transform: scale(1.1);
			}
		}
	}
	&__title + * {
		margin-top: 10px;
	}
}

* + .news-wrapper{
	margin-top: 50px;
}
