/*
* @section      Components
* @Components	Price
*/

.price{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	&__new{
		font-size: 28px;
		font-weight: 700;
		line-height: 1;
		color: $primary;
	}
	&__old{
		font-size: 13px;
		line-height: 14px;
		color: #757575;
	}
}