/*
* @section      Components
* @Components	Product
*/

.product-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: -10px;
}

.product{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	overflow: hidden;
	width:220px;
	margin: 10px;
	box-shadow: 1px 1px 5px 0px rgba(153,153,153,1);

	&__cnt{
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 50px;
		background: $white;
	}

	&__img{
		position: relative;
		display: flex;
		overflow: hidden;
		height: 220px;
	}

	&__logo{
		position: absolute;
		bottom: 15px;
		left: 10px;
	}

	&__panel{
		position: absolute;
		z-index: 1;
		color: #e7e7e7;
	}

	&__information{
		position: relative;
		background: $white;
		&:before{
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background: #e6e6e6;
		}
	}

	&__title{
		text-decoration: underline;
		font-size: 15px;
		line-height: 1.5;
		font-weight: 700;
		color: #757575;
	}

	&__discount{
		position: absolute;
		bottom: 0;
		left: 10px;
		right: 10px;
	}
}

.product{
	&__img{
		> img{
			transition: 0.3s ease all;
			&:hover{
				transform: scale(1.1);
			}
		}
	}
	&__logo{
		> img{
			transition: 1s ease all;
			&:hover{
				transform: scale(1.2)rotate(360deg);
			}
		}
	}
}

* + .product-wrapper{
	margin-top: 35px;
}

* + .product__tag{
	margin-top: 5px;
}
* + .product__price{
	margin-top: 15px;
}
* + .product__btn{
	margin-top: 10px;
}