/*
* @section      Components
* @Components	Product Center
*/

.prodCenter-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: -10px;
}

.prodCenter{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	overflow: hidden;
	width: 280px;
	margin: 10px;
	box-shadow: 1px 1px 5px 0 rgba(153, 153, 153, 1);
	&__img{
		position: relative;
		display: flex;
		overflow: hidden;
		background: $white;
		height: 200px;
	}

	&__panel{
		position: absolute;
		z-index: 1;
		color: #e7e7e7;
	}

	&__discount{
		position: absolute;
		bottom: 0;
		left: 10px;
		right: 10px;
		background: $white;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

	&__information{}

	&__cnt{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}

	&__title{
		text-decoration: underline;
		font-size: 22px;
		line-height: 1.5;
		font-weight: 700;
		color: $black;
	}
	&__address,
	&__contCompany{
		font-size: 15px;
	}
	&__contCompany{
		display: flex;
	}

	&__link{

		margin: 0 3px;
		text-decoration: underline;
		font-weight: 700;
	}
}


* + .prodCenter-wrapper{
	margin-top: 35px;
}
