/*
* @section      Components
* @Components	Shop
*/

.shop-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: -10px;
}


.shop {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	overflow: hidden;
	width: 220px;
	margin: 10px;
	box-shadow: 1px 1px 5px 0 rgba(153, 153, 153, 1);
	&__img{
		position: relative;
		display: flex;
		overflow: hidden;
		background: $white;
		height: 220px;
	}

	&__panel{
		position: absolute;
		z-index: 1;
		color: #e7e7e7;
	}

	&__information{
		position: relative;
		background: $white;
		&:before{
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background: #e6e6e6;
		}
	}

	&__cnt{
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 50px;
		background: $white;
	}

	&__title{
		text-decoration: underline;
		font-size: 15px;
		line-height: 1.5;
		font-weight: 700;
		color: $primary;
	}

	&__address{
		font-size: 13px;
		font-weight: 700;
		color: $black;
	}

	&__discount{
		position: absolute;
		bottom: 0;
		left: 10px;
		right: 10px;
		background: $white;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
}

.shop__img{
	> img{
		transition: 0.3s ease all;
		&:hover{
			transform: scale(1.1);
		}
	}
}

* + .shop-wrapper{
	margin-top: 30px;
}

* + .shop__tag,
* + .shop__address{
	margin-top: 5px;
}