/*
* @section      Components
* @Components	Social
*/

.social{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin-left: 30px;
	&__icons{
		display: flex;
		margin: 0 -5px;
	}
	&__icon{
		margin: 0 5px;
		&--vk{
			background: url(../images/social/social__vk.jpg) no-repeat center center / cover;
		}
		&--fb{
			background: url(../images/social/social__fb.jpg) no-repeat center center / cover;
		}
		&--ok{
			background: url(../images/social/social__ok.jpg) no-repeat center center / cover;
		}
		&--tw{
			background: url(../images/social/social__tw.jpg) no-repeat center center / cover;
		}
		&--inst{
			background: url(../images/social/social__inst.jpg) no-repeat center center / cover;
		}
	}
	&__link{
		display: block;
		width: 30px;
		height: 30px;
	}
}