/*
* @section      Components
* @Components	Sync Carousel
*/

.syncCarousel{
	display: flex;
	align-items: center;
	width: 100%;
	height: 510px;
	//align-items: stretch;

	&__horizontal{
		width: 640px;
		height: 100%;
		margin: 0;
	}
	&__vertical {
		width: 180px;
		height: 100%;
		margin: 0 0 0 20px;
		.swiper-slide{
			//height: 135px !important;
		}
	}


	&__button{
		position: absolute;
		width: 100%;
		height: 32px;
		background: #ebebeb;
		transition: 0.3s ease all;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			width: 33px;
			height: 14px;
			top: 50%;
			left: 50%;
			z-index: 2;
			transform: translateX(-50%)translateY(-50%);
		}
		&--prev{
			top: 0;
			&:before {
				background: url("../images/sync carousel/syncCarousel__arrow--prev.png") no-repeat center center;
			}
		}
		&--next{
			bottom: 0;
			&:before {
				background: url("../images/sync carousel/syncCarousel__arrow--next.png") no-repeat center center;
			}
		}
		&:hover{
			background: $primary;
		}
	}
}