/*
* @section      Components
* @Components	Tags
*/

.tag{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -2px;
	margin-right: -2px;
	&__item{
		text-decoration: underline;
		margin: 2px;
		padding: 0 8px;
		height: 18px;
		font-size: 13px;
		line-height: 18px;
		border-radius: 18px;
		color: #757575;
		background: #e5e5e5;
	}
}