
<!--TAB About Us-->
<div class="standart-format">
	<h2>О Гостинице</h2>
	<p>Гостиница "Спорт" удобно расположена в тихом уютном месте при въезде в город Ярославль со стороны Москвы, Костромы, Иваново. В шаговой доступности к гостинице расположены СК "Атлант", Ледовый дворец "Арена-2000", парк "Нефтяников", ТРЦ "РИО".</p>
	<p>К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.</p>
	<div class="tabs tabs--nonflex" id="aboutus_carouselTab">
		<div class="tabs__nav"><a class="tabs__nav-link tabs__nav-link--active" href="#">Фото</a><a class="tabs__nav-link" href="#">Видео</a>
		</div>
		<div class="tabs__cnt tabs__cnt--active">
			<div class="syncCarousel syncCarousel--photo">
				<div class="swiper-container syncCarousel__horizontal">
					<div class="swiper-wrapper">
						<div class="swiper-slide">Slide 1</div>
						<div class="swiper-slide">Slide 2</div>
						<div class="swiper-slide">Slide 3</div>
						<div class="swiper-slide">Slide 4</div>
						<div class="swiper-slide">Slide 5</div>
						<div class="swiper-slide">Slide 6</div>
						<div class="swiper-slide">Slide 7</div>
						<div class="swiper-slide">Slide 8</div>
						<div class="swiper-slide">Slide 9</div>
						<div class="swiper-slide">Slide 10</div>
					</div>
				</div>
				<div class="swiper-container syncCarousel__vertical">
					<div class="swiper-wrapper syncCarousel__wrapper-vertical">
						<div class="swiper-slide">Slide 1</div>
						<div class="swiper-slide">Slide 2</div>
						<div class="swiper-slide">Slide 3</div>
						<div class="swiper-slide">Slide 4</div>
						<div class="swiper-slide">Slide 5</div>
						<div class="swiper-slide">Slide 6</div>
						<div class="swiper-slide">Slide 7</div>
						<div class="swiper-slide">Slide 8</div>
						<div class="swiper-slide">Slide 9</div>
						<div class="swiper-slide">Slide 10</div>
					</div>
					<!--Add Arrows-->
					<div class="syncCarousel__button syncCarousel__button--next"></div>
					<div class="syncCarousel__button syncCarousel__button--prev"></div>
				</div>
			</div>
		</div>
		<div class="tabs__cnt">carousel video</div>
	</div>
	<p>Гостиница "Спорт" удобно расположена в тихом уютном месте при въезде в город Ярославль со стороны Москвы, Костромы, Иваново. В шаговой доступности к гостинице расположены СК "Атлант", Ледовый дворец "Арена-2000", парк "Нефтяников", ТРЦ "РИО".</p>
	<p>К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.</p>
	<h2>Оставить отзыв о Marmellatio</h2>
	<div class="write-review">
		<div class="write-review__top">
			<div class="write-review__rateit rateit" data-rateit-value="" data-rateit-ispreset="false" data-rateit-readonly="false"></div>
			<div class="write-review__text">Начните ваш отзыв с выставления оценки</div>
		</div>
		<textarea class="write-review__textarea" name="text" placeholder="Текст вашего комментария"></textarea>
		<div class="write-review__bottom"></div>
	</div>
	<div class="comment-wrapp">
		<div class="comment-wrapp__asside"><img class="comment-wrapp__face" src="http://pikchyriki.net/avatar/krutye/80/3.jpg" alt=""/>
			<div class="comment-wrapp__name">Елизавета Константинопольская</div>
			<div class="stock__information information">
				<div class="information__comments">
					<div class="information__icon information__icon_comments"></div>1000K
				</div>
			</div>
		</div>
		<div class="comment-wrapp__cnt">
			<div class="comment-wrapp__top-bar">
				<div class="review__rating">
					<div class="rateit" data-rateit-value="4" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
					<div class="review__pre-rat">
						<time pubdate="pubdate" datetime="2017-12-23T13:05">23 декабря 2017 в 13:05</time>
					</div>
				</div>
			</div>
			<div class="comment-wrapp__middle-comment">К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.<a class="comment-wrapp__more" href=""><span>Показать полностью</span></a></div>
			<div class="comment-wrapp__bottom-bar">
				<div class="stock__information information">
					<div class="information__thumbsUp">
						<div class="information__icon information__icon_thumbsUp"></div>
						<div class="information__thumbsUp-val">Полезно (1000К)</div>
					</div>
					<div class="information__commentsO">
						<div class="information__icon information__icon_commentsO"></div>
						<div class="information__commentsO-val">Ответить</div>
					</div>
					<div class="information__share">
						<div class="information__icon information__icon_share"></div>
						<div class="information__share-val">Поделится (1000К)</div>
					</div>
				</div>
			</div>
			<div class="comment-wrapp__review-section">
				<textarea class="write-review__textarea" name="text" placeholder="Ваш ответ"></textarea>
			</div>
		</div>
	</div>
	<div class="comment-wrapp">
		<div class="comment-wrapp__asside"><img class="comment-wrapp__face" src="http://pikchyriki.net/avatar/krutye/80/3.jpg" alt=""/>
			<div class="comment-wrapp__name">Елизавета Константинопольская</div>
			<div class="stock__information information">
				<div class="information__comments">
					<div class="information__icon information__icon_comments"></div>1000K
				</div>
			</div>
		</div>
		<div class="comment-wrapp__cnt">
			<div class="comment-wrapp__top-bar">
				<div class="review__rating">
					<div class="rateit" data-rateit-value="4" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
					<div class="review__pre-rat">
						<time pubdate="pubdate" datetime="2017-12-23T13:05">23 декабря 2017 в 13:05</time>
					</div>
				</div>
			</div>
			<div class="comment-wrapp__middle-comment">К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.</div>
			<ul class="comment-wrapp__galery">
				<li class="comment-wrapp__galery-item"><img class="comment-wrapp__galery-img"/></li>
				<li class="comment-wrapp__galery-item"><img class="comment-wrapp__galery-img"/></li>
				<li class="comment-wrapp__galery-item"><img class="comment-wrapp__galery-img"/></li>
			</ul>
			<div class="comment-wrapp__bottom-bar">
				<div class="stock__information information">
					<div class="information__thumbsUp">
						<div class="information__icon information__icon_thumbsUp"></div>
						<div class="information__thumbsUp-val">Полезно (1000К)</div>
					</div>
					<div class="information__commentsO">
						<div class="information__icon information__icon_commentsO"></div>
						<div class="information__commentsO-val">Ответить</div>
					</div>
					<div class="information__share">
						<div class="information__icon information__icon_share"></div>
						<div class="information__share-val">Поделится (1000К)</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="comment-wrapp">
		<div class="comment-wrapp__asside"></div>
		<div class="comment-wrapp__cnt">
			<div class="comment-wrapp__answer">
				<div class="comment-wrapp__answer-asside"></div>
				<div class="comment-wrapp__answer-cnt">
					<div class="comment-wrapp__middle-comment">К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.</div>
				</div>
			</div>
		</div>
	</div>
</div>