extends layout
block title
    title О Нас
    //script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js")

block main
    include 02_main/_main-about_us

block css
    link(href="css/libs/swiper.css" rel="stylesheet")
    link(href="css/libs/rateit.css" rel="stylesheet")
block js
    script(type='text/javascript' src="js/libs/swiper.js")
    script(type='text/javascript' src="js/libs/d3 v3.x.js")
    script(type='text/javascript' src="js/libs/jquery.rateit.js")
    script(type='text/javascript' src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
