extends layout.pug
block title
    title Главная

block main
    include 02_main/_main-index

block css
    link(href="css/libs/swiper.css" rel="stylesheet")
block js
    script(type='text/javascript' src="js/libs/swiper.js")
    script(type='text/javascript' src="js/libs/d3 v3.x.js")