
<!--HEADER-->
<header class="page-header">
	<section class="well0 bg-white">
		<div class="container">
			<div class="header-panel">
				<div class="header-panel__1">
					<div class="header-panel__brand brand"><img class="brand__logo" src="images/logo.png" alt=""/></div>
				</div>
				<div class="header-panel__2">
					<div class="header-panel__filter filter">
						<div class="filter__img"><img src="images/filter.png"/></div>
						<div class="filter__tag">
							<ul class="tag-filter">
								<li class="tag-filter__item filter__item">
									<div class="tag-filter__icon"></div>
									<div class="tag-filter__text" title="Японские автомобили">Японские автомобили</div>
									<div class="tag-filter__close"></div>
								</li>
								<li class="filter__search">
									<div class="marker">
										<div class="marker__icon marker__icon--search"><img src="images/icons/icon-search.png" alt="search"/></div>
										<div class="marker__text">
											<input type="search" placeholder="Найти"/>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header-panel__3">
					<div class="location">
						<div class="location__input">
							<ul class="location__tag tag-location">
								<li class="tag-location__item location__item">
									<div class="tag-location__icon"></div>
									<div class="tag-location__text" title="Северодвинск">Северодвинск</div>
									<div class="tag-location__close"></div>
								</li>
								<li class="location__search">
									<div class="marker">
										<div class="marker__icon marker__icon--location"><img src="images/icons/icon-location.png" alt="location"/></div>
										<div class="marker__text">
											<input type="search" placeholder="Где"/>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header-panel__4"><a class="btn-post" href="#">
						<div class="btn-post__icon btn-post__icon--camera"></div>
						<div class="btn-post__text">Запостить</div></a>
					<div class="auth"><a class="auth__sign-in" href="#">Вход</a>
						<div class="auth__delimetr"></div><a class="auth__registration" href="#">Регистрация</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//-----Navigation Right-->
	<!--ul.navigation-->
	<!--    -for(var i = 0; i < navigation.length; i++)-->
	<!--        li.navigation__item-->
	<!--            a(href=navigation[i].href).navigation__cnt-->
	<!--                .navigation__icon-->
	<!--                    .navigation__img-wrapper-->
	<!--                        img.navigation__img(src="images/nav-icons/icon-" + navigation[i].img + ".png" alt="")-->
	<!--                .navigation__text !{navigation[i].text}-->
</header>