@charset "UTF-8";
/*
* @section      Normalize
*
* @description  Resets default browser styling
*
* @link         http://github.com/necolas/normalize.css
* @license      MIT license - http://opensource.org/licenses/MIT
* @version      3.0.3
* @revision     1.0
*/
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "//fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, main, time, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input, textarea, select {
  display: inline-block;
  -webkit-appearance: none;
  outline: none;
  color: inherit;
  overflow: visible;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

button,
input[type='button'],
input[type='submit'] {
  cursor: pointer; }

/*
* @bugfix input text-overflow padding ignore
* @affected lt IE11
*/
.lt-ie11 input {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-border-bottom-left-radius: 1px !important;
  border-bottom-left-radius: 1px !important; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
a[href^="tel:"],
a[href^="callto:"] {
  font: inherit;
  color: inherit;
  text-decoration: none; }
  a:focus,
  a[href^="tel:"]:focus,
  a[href^="callto:"]:focus {
    outline: none; }

img {
  max-width: 100%;
  height: auto; }

a, button, input {
  -webkit-transition: .3s all ease;
  transition: .3s all ease; }

* {
  outline: none; }

/*
* @section      Grid module
* @description  This section use grid
*/
.container {
  margin: 0 auto;
  width: 1180px; }

/*
* @section      Fonts
* @description  This section holds all icon fonts stored in template
*/
/*========================================================
                      Main Styles
=========================================================*/
/*
* @section      Main Styles
* @description  This section holds template default elements style declarations
*/
.page {
  overflow: hidden; }
  .lt-ie9 .page {
    min-width: 1200px; }

html {
  font-size: 70px; }
  @media (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 80px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    html {
      font-size: 90px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 100px; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  -webkit-text-size-adjust: none;
  color: #333333;
  background: #f2f2f2; }

/*========================================================
                      Typography
=========================================================*/
/*
* @subsection   Typography
* @description  Describes default font settings for basic html elements and
*               css classes
*/
h1, .heading-1 {
  font-size: 37px;
  line-height: 1.35;
  font-weight: 500;
  color: #000000; }

h2, .heading-2 {
  font-size: 37px;
  line-height: 1.35;
  font-weight: 500;
  color: #000000; }

h3, .heading-3 {
  font-size: 35px;
  line-height: 1.43;
  font-weight: 500;
  color: #000000; }

p a:hover, .list a:hover, .contact-info a:hover {
  text-decoration: underline; }

a {
  cursor: pointer; }

/*
* @section      Helpers
* @description  This section contain helpers style
*/
/*
* @subsection   Text Alignment
*/
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

@media (min-width: 576px) {
  .text-xs-left {
    text-align: left; }
  .text-xs-center {
    text-align: center; }
  .text-xs-right {
    text-align: right; } }

@media (min-width: 768px) {
  .text-sm-left {
    text-align: left; }
  .text-sm-center {
    text-align: center; }
  .text-sm-right {
    text-align: right; } }

@media (min-width: 992px) {
  .text-md-left {
    text-align: left; }
  .text-md-center {
    text-align: center; }
  .text-md-right {
    text-align: right; } }

@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left; }
  .text-lg-center {
    text-align: center; }
  .text-lg-right {
    text-align: right; } }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: 700; }

.line-through {
  text-decoration: line-through; }

/*=======================================================
                       Main Layout
=========================================================*/
/*
* @subsection   Backgrounds
* @description  Backgrounds custom styles
*/
.bg-white {
  background: #ffffff !important; }

.bg-grey {
  background: #e6e6e6; }

.bg-what {
  background: #f7f7f7; }

/*
* @subsection   Colors
* @description  Colors custom styles
*/
.clr-white {
  color: #ffffff; }

.clr-default {
  color: #333333 !important; }

/*
* @subsection   Well
* @description  Describes section inner indents
*/
.well__index--1 {
  padding-top: 50px;
  padding-bottom: 50px; }

.well__index--2 {
  padding-top: 65px;
  padding-bottom: 20px; }

.well__index--3 {
  padding-top: 60px;
  padding-bottom: 45px; }

.well__index--4 {
  padding-top: 50px;
  padding-bottom: 55px; }

.well__index--5 {
  padding-top: 30px;
  padding-bottom: 50px; }

.well__index--6 {
  padding-top: 40px;
  padding-bottom: 50px; }

.well__index--7 {
  padding-top: 35px;
  padding-bottom: 35px; }

.well__index--8 {
  padding-top: 50px;
  padding-bottom: 35px; }

.well__about-us--1 {
  padding-top: 20px;
  padding-bottom: 20px; }

.well__about-us--2 {
  padding-top: 20px;
  padding-bottom: 40px; }

/*=======================================================
                        Components
=========================================================*/
/*
* @section      Components
* @description  This section holds all elements style declarations of template
*/
/*
* @section      Components
* @Components	Swiper btn
*/
.swiper-button {
  width: 58px;
  height: 58px;
  top: 100px;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
  .swiper-button:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 20px;
    background: url("../images/arrow.png") no-repeat center center;
    top: 50%;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg); }
  .swiper-button-prev {
    left: -webkit-calc((58px / 2) * (-1));
    left: calc((58px / 2) * (-1)); }
    .swiper-button-prev:before {
      left: 50%; }
  .swiper-button-next {
    right: -webkit-calc((58px / 2) * (-1));
    right: calc((58px / 2) * (-1)); }
    .swiper-button-next:before {
      right: 50%;
      -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
      transform: translateY(-50%) rotate(180deg); }

/*
* @section      Components
* @Components	About us List
*/
.about-us__list {
  position: absolute;
  width: 180px;
  left: -20px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 25px 0 #999999;
  box-shadow: 1px 1px 25px 0 #999999;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all; }
  .about-us__list:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .about-us__list li {
    position: relative;
    display: block; }
    .about-us__list li:before {
      position: absolute;
      content: '';
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #e4e4e4; }
    .about-us__list li a {
      display: block;
      padding-left: 20px;
      color: #000000;
      font-weight: 700;
      line-height: 40px; }

.about-us__list {
  visibility: hidden;
  opacity: 0; }
  .about-us__list--opened {
    visibility: visible;
    opacity: 1; }
  .about-us__list li:hover {
    background: #e4e4e4; }

/*
* @section      Components
* @Components	Advertising
*/
.advertising {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 360px;
  background: #333333;
  margin: 10px 0; }
  .advertising__cnt {
    text-align: center;
    color: #ffffff;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700; }

/*
* @section      Components
* @Components	Map
*/
.map__yandex {
  width: 100%;
  height: 280px;
  background: gray; }

.map__link {
  display: block;
  text-decoration: underline;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px; }

/*
* @section      Components
* @Components	Standart tab content
*/
.standart-format h2 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 700;
  color: #5c5c5c; }

.standart-format p {
  font-size: 14px;
  line-height: 24px;
  color: #000000; }

.standart-format * + h2 {
  margin-top: 40px; }

.standart-format * + p {
  margin-top: 20px; }

/*
* @subsection   Imports
*/
/*
* @section      Components
* @Components	Header-panel
*/
.header-panel {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px; }
  .header-panel__1, .header-panel__2, .header-panel__3, .header-panel__4 {
    background: #ffffff;
    position: relative; }
    .header-panel__1:before, .header-panel__2:before, .header-panel__3:before, .header-panel__4:before {
      content: '';
      position: absolute;
      height: 300px;
      width: 1px;
      top: -100%;
      right: 0;
      background: #d7d7d7; }
    .header-panel__1:last-child:before, .header-panel__2:last-child:before, .header-panel__3:last-child:before, .header-panel__4:last-child:before {
      display: none; }
  .header-panel__1 {
    width: 160px; }
  .header-panel__2, .header-panel__3 {
    width: 360px;
    padding: 0 10px; }
  .header-panel__4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px; }
    .header-panel__4 .btn-post {
      margin-right: 10px; }
    .header-panel__4 .auth {
      margin-left: 10px; }

/*
* @section      Components
* @Components	Footer Panel
*/
.footer-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 64px; }
  .footer-panel__1 {
    width: 180px; }
  .footer-panel__2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    width: 700px; }
  .footer-panel__3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 300px; }
  .footer-panel__1, .footer-panel__2, .footer-panel__3 {
    position: relative; }
    .footer-panel__1:before, .footer-panel__2:before, .footer-panel__3:before {
      position: absolute;
      height: 64px;
      width: 1px;
      top: -100%;
      right: 0;
      background: #d7d7d7;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%); }
    .footer-panel__1:last-child:before, .footer-panel__2:last-child:before, .footer-panel__3:last-child:before {
      display: none; }

/*
* @section      Components
* @Components	Navigation
*/
.navigation {
  position: fixed;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 36px;
  height: auto;
  left: 0;
  top: 145px;
  background: #e4e4e4;
  color: #000000;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 1px 1px 5px 0px #999999;
  box-shadow: 1px 1px 5px 0px #999999;
  z-index: 100; }
  .navigation__cnt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 34px;
    background: #ffffff; }
  .navigation__icon {
    width: 36px;
    height: 36px; }
  .navigation__img-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 36px;
    height: 36px; }
  .navigation__img {
    max-width: 23px;
    max-height: 17px; }
  .navigation__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: -webkit-calc(182px - 36px);
    width: calc(182px - 36px);
    font-size: 15px;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px; }

.navigation:hover {
  width: 182px; }

.navigation__item:hover {
  background: #e4e4e4; }
  .navigation__item:hover .navigation__img-wrapper,
  .navigation__item:hover .navigation__text {
    background: #e4e4e4; }
  .navigation__item:hover .navigation__img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.navigation__item + * {
  margin-top: 1px; }

/*
* @section      Components
* @Components	Category
*/
.category-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px; }

.category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 280px;
  height: 120px;
  padding: 20px;
  margin: 10px;
  background: #f7f7f7;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .category__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 50px; }
    .category__icon img {
      max-height: 40px; }
  .category__name {
    text-decoration: underline;
    font-size: 13px;
    font-weight: 700;
    width: 145px; }

.category:hover {
  cursor: pointer; }

* + .category-wrapper {
  margin-top: 20px; }

/*
* @section      Components
* @Components	News
*/
.news-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px; }

.news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 280px;
  margin: 10px;
  padding-bottom: 20px; }
  .news__img {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 200px; }
  .news__cnt {
    color: #000000; }
  .news__title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    font-size: 21px;
    line-height: 1.3; }
  .news__rating {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -76px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .news__information {
    margin: 0 -8px; }

.news__img img {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all; }
  .news__img img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.news__title + * {
  margin-top: 10px; }

* + .news-wrapper {
  margin-top: 50px; }

/*
* @section      Components
* @Components	Information
*/
.information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 10px 0; }
  .information__date, .information__likes, .information__comments, .information__viewers, .information__thumbsUp, .information__commentsO, .information__share, .information__chain {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 8px;
    font-size: 12px;
    line-height: 1;
    color: #757575; }
  .information__likes, .information__comments, .information__viewers, .information__thumbsUp, .information__commentsO, .information__share, .information__chain {
    cursor: pointer; }
  .information__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #e73e41;
    width: 15px;
    height: 14px;
    font-size: 15px;
    margin-right: 4px; }
    .information__icon_date:before {
      content: "";
      font-family: "FontAwesome";
      font-size: 14px;
      line-height: 1; }
    .information__icon_likes:before {
      content: "";
      font-family: "FontAwesome";
      font-size: 14px;
      line-height: 1; }
    .information__icon_comments:before {
      content: "";
      font-family: "FontAwesome";
      font-size: 14px;
      line-height: 1; }
    .information__icon_viewers:before {
      content: "";
      font-family: "FontAwesome";
      font-size: 14px;
      line-height: 1; }
    .information__icon_thumbsUp:before {
      content: "";
      font-family: "FontAwesome";
      font-size: 14px;
      line-height: 1; }
    .information__icon_commentsO:before {
      content: "";
      font-family: "FontAwesome";
      font-size: 14px;
      line-height: 1; }
    .information__icon_share:before {
      content: "";
      font-family: "FontAwesome";
      font-size: 14px;
      line-height: 1; }
    .information__icon_chain:before {
      content: "";
      font-family: "FontAwesome";
      font-size: 14px;
      line-height: 1; }
  .information__likes {
    color: #e73e41;
    font-weight: 700; }

/*
* @section      Components
* @Components	Dressroom
*/
.dressroom-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px; }

.dressroom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  width: 220px;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 5px 0px #999999;
  box-shadow: 1px 1px 5px 0px #999999; }
  .dressroom__cnt {
    padding-bottom: 20px;
    background: #ffffff; }
  .dressroom__img {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 215px; }
  .dressroom__panel {
    position: absolute;
    z-index: 1;
    color: #e7e7e7; }
  .dressroom__information {
    position: relative;
    background: #ffffff; }
    .dressroom__information:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #e6e6e6; }

.dressroom__img img {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all; }
  .dressroom__img img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

* + .dressroom-wrapper {
  margin-top: 40px; }

/*
* @section      Components
* @Components	Comment in Card (index page)
*/
.comment-inCard {
  padding-left: 10px;
  padding-right: 10px; }
  .comment-inCard__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 0; }
  .comment-inCard__cnt {
    font-style: italic;
    font-size: 13px;
    line-height: 1.25;
    font-weight: 700; }
  .comment-inCard__img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden; }
  .comment-inCard__name {
    text-decoration: underline;
    font-size: 15px;
    font-weight: 700;
    color: #e73e41; }

* + .comment-inCard__name {
  margin-left: 10px; }

/*
* @section      Components
* @Components	Interactive Panel
*/
.interactive-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 10px; }
  .interactive-panel__liked, .interactive-panel__favorite {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-family: "FontAwesome"; }
  .interactive-panel__liked:before {
    content: '\f004'; }
  .interactive-panel__favorite:before {
    content: '\f005'; }

/*
* @section      Components
* @Components	Product
*/
.product-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px; }

.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  width: 220px;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 5px 0px #999999;
  box-shadow: 1px 1px 5px 0px #999999; }
  .product__cnt {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    background: #ffffff; }
  .product__img {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 220px; }
  .product__logo {
    position: absolute;
    bottom: 15px;
    left: 10px; }
  .product__panel {
    position: absolute;
    z-index: 1;
    color: #e7e7e7; }
  .product__information {
    position: relative;
    background: #ffffff; }
    .product__information:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #e6e6e6; }
  .product__title {
    text-decoration: underline;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    color: #757575; }
  .product__discount {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px; }

.product__img > img {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all; }
  .product__img > img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.product__logo > img {
  -webkit-transition: 1s ease all;
  transition: 1s ease all; }
  .product__logo > img:hover {
    -webkit-transform: scale(1.2) rotate(360deg);
    -ms-transform: scale(1.2) rotate(360deg);
    transform: scale(1.2) rotate(360deg); }

* + .product-wrapper {
  margin-top: 35px; }

* + .product__tag {
  margin-top: 5px; }

* + .product__price {
  margin-top: 15px; }

* + .product__btn {
  margin-top: 10px; }

/*
* @section      Components
* @Components	Tags
*/
.tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-right: -2px; }
  .tag__item {
    text-decoration: underline;
    margin: 2px;
    padding: 0 8px;
    height: 18px;
    font-size: 13px;
    line-height: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    color: #757575;
    background: #e5e5e5; }

/*
* @section      Components
* @Components	Price
*/
.price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .price__new {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: #e73e41; }
  .price__old {
    font-size: 13px;
    line-height: 14px;
    color: #757575; }

/*
* @section      Components
* @Components	Discount
*/
.discount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden; }
  .discount__percent {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    background: #e73e41;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px; }
  .discount__prepercent {
    position: absolute;
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
    top: 2px;
    left: 5px; }
  .discount__icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0 10px; }
  .discount__icon {
    margin: 0 4px;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    .discount__icon[data-icon="crop"] {
      background-image: url("../images/icons/icon-crop.png"); }
    .discount__icon[data-icon="percent"] {
      background-image: url("../images/icons/icon-percent.png"); }

/*
* @section      Components
* @Components	BTN
*/
.btn {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  width: 186px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  border: 3px solid #e73e41;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: #e73e41; }

.btn-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  width: 146px;
  height: 34px;
  font-size: 15px;
  font-weight: 700;
  padding: 0 10px;
  color: #ffffff;
  background: #e73e41;
  -webkit-border-radius: 20px;
  border-radius: 20px; }
  .btn-post__icon--camera {
    width: 21px;
    height: 17px;
    background: url("../images/icons/icon-camera.png") no-repeat center center/cover; }
  .btn-post__icon, .btn-post__text {
    margin: 4px; }

.btn-icon {
  position: relative;
  cursor: pointer;
  display: inline-block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  height: 34px;
  padding: 0 30px 0 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 2em;
  border: 3px solid #e73e41;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: #e73e41; }
  .btn-icon__icon {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 14px;
    height: 14px;
    background: #e73e41;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .btn-icon__icon:before {
      position: absolute;
      left: 50%;
      top: -webkit-calc(50% - 1px);
      top: calc(50% - 1px);
      content: '\f106';
      color: #ffffff;
      font-size: 10px;
      line-height: 1;
      font-family: "FontAwesome";
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }

.btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -5px;
  margin-right: -5px; }
  .btn-group__item {
    margin: 0 5px; }

/*
* @section      Components
* @Components	Shop
*/
.shop-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px; }

.shop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  width: 220px;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 5px 0 #999999;
  box-shadow: 1px 1px 5px 0 #999999; }
  .shop__img {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background: #ffffff;
    height: 220px; }
  .shop__panel {
    position: absolute;
    z-index: 1;
    color: #e7e7e7; }
  .shop__information {
    position: relative;
    background: #ffffff; }
    .shop__information:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #e6e6e6; }
  .shop__cnt {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    background: #ffffff; }
  .shop__title {
    text-decoration: underline;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    color: #e73e41; }
  .shop__address {
    font-size: 13px;
    font-weight: 700;
    color: #000000; }
  .shop__discount {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    background: #ffffff;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px; }

.shop__img > img {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all; }
  .shop__img > img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

* + .shop-wrapper {
  margin-top: 30px; }

* + .shop__tag,
* + .shop__address {
  margin-top: 5px; }

/*
* @section      Components
* @Components	Stock
*/
.stock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  margin: 0 0 5px;
  -webkit-box-shadow: 1px 1px 5px 0 #999999;
  box-shadow: 1px 1px 5px 0 #999999; }
  .stock__img {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background: #ffffff;
    height: 200px; }
  .stock__panel {
    position: absolute;
    z-index: 1;
    color: #e7e7e7; }
  .stock__cnt {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; }
  .stock__title {
    text-decoration: underline;
    font-size: 15px;
    line-height: 1.5;
    color: #000000; }
  .stock__button {
    background: #f2f2f2; }

* + .stock-container {
  margin-top: 30px; }

/*
* @section      Components
* @Components	Coupon
*/
.coupon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  margin: 0 0 5px;
  -webkit-box-shadow: 1px 1px 5px 0 #999999;
  box-shadow: 1px 1px 5px 0 #999999; }
  .coupon__img {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background: #ffffff;
    height: 200px; }
  .coupon__panel {
    position: absolute;
    z-index: 1;
    color: #e7e7e7; }
  .coupon__information {
    background: #ffffff; }
  .coupon__cnt {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: #ffffff; }
  .coupon__title {
    text-decoration: underline;
    font-size: 15px;
    line-height: 1.5;
    color: #000000; }
  .coupon__button {
    background: #f2f2f2; }

* + .coupon-container {
  margin-top: 25px; }

/*
* @section      Components
* @Components	Banner
*/
.banner {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  bottom: 0;
  left: 50%;
  background: #ffffff;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px; }
  .banner__asside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    background: #e73e41;
    color: #ffffff;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px; }
  .banner__cnt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    color: #e73e41; }
  .banner__time {
    margin-left: 4px; }
  .banner__day-to-finish, .banner__count {
    padding: 0 3px; }

/*
* @section      Components
* @Components	Product Center
*/
.prodCenter-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px; }

.prodCenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  width: 280px;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 5px 0 #999999;
  box-shadow: 1px 1px 5px 0 #999999; }
  .prodCenter__img {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background: #ffffff;
    height: 200px; }
  .prodCenter__panel {
    position: absolute;
    z-index: 1;
    color: #e7e7e7; }
  .prodCenter__discount {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    background: #ffffff;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px; }
  .prodCenter__cnt {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; }
  .prodCenter__title {
    text-decoration: underline;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 700;
    color: #000000; }
  .prodCenter__address, .prodCenter__contCompany {
    font-size: 15px; }
  .prodCenter__contCompany {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .prodCenter__link {
    margin: 0 3px;
    text-decoration: underline;
    font-weight: 700; }

* + .prodCenter-wrapper {
  margin-top: 35px; }

/*
* @section      Components
* @Components	Shop
*/
.carouselFull-container {
  width: 100%; }

.carouselFull__pagination {
  bottom: 40px; }

.carouselFull__title {
  position: relative;
  text-transform: uppercase;
  font-size: 78px;
  line-height: 1.2;
  font-weight: 900;
  padding-top: 100px;
  padding-bottom: 40px;
  color: #ffffff; }
  .carouselFull__title:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 134px;
    height: 14px;
    background: #e73e41; }

.carouselFull:nth-child(1n) {
  background: url("../images/fullImages/full__img-1.jpg") no-repeat center center/cover; }

.carouselFull:nth-child(2n) {
  background: url("../images/fullImages/full__img-2.jpg") no-repeat center center/cover; }

.carouselFull:nth-child(3n) {
  background: url("../images/fullImages/full__img-3.jpg") no-repeat center center/cover; }

.carouselFull:nth-child(4n) {
  background: url("../images/fullImages/full__img-4.jpg") no-repeat center center/cover; }

.carouselFull:nth-child(5n) {
  background: url("../images/fullImages/full__img-5.jpg") no-repeat center center/cover; }

.carouselFull:nth-child(6n) {
  background: url("../images/fullImages/full__img-6.jpg") no-repeat center center/cover; }

.carouselFull__pagination .swiper-pagination-bullet {
  position: relative;
  margin: 5px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  opacity: 1; }

.carouselFull__pagination .swiper-pagination-bullet-active:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: #e73e41;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

@media (max-width: 1599px) {
  .carouselFull__title {
    padding-left: 200px; } }

/*
* @section      Components
* @Components	Auth
*/
.auth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color: #6b6b6b;
  font-size: 13px;
  line-height: 1.2; }
  .auth__sign-in, .auth__registration {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 3px; }
    .auth__sign-in:before, .auth__registration:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      border-bottom: 1px dashed #6b6b6b; }
  .auth__delimetr {
    position: relative;
    top: 2px;
    margin: 2px;
    height: -webkit-calc(13px);
    height: calc(13px);
    width: 1px;
    background: #6b6b6b;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg); }

/*
* @section      Components
* @Components	Location
*/
.location__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.location__tag {
  max-width: -webkit-calc(100% - 38px);
  max-width: calc(100% - 38px); }

* + .location__marker {
  margin-left: 10px; }

/*
* @section      Components
* @Components	Tag location
*/
.tag-location {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 -4px; }
  .tag-location__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 4px;
    height: 24px;
    max-width: 50%;
    background: #e5e5e5;
    padding-left: 10px;
    padding-right: 20px;
    -webkit-border-radius: 24px;
    border-radius: 24px; }
  .tag-location__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 24px; }
  .tag-location__close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 6px;
    width: 12px;
    height: 12px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .tag-location__close:before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 8px;
      height: 8px;
      background: url("../images/tag-location__close.png") no-repeat center center/cover;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }

/*
* @section      Components
* @Components	Filter
*/
.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .filter__img {
    cursor: pointer; }
    .filter__img img {
      width: 35px;
      height: 35px; }
  .filter__tag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 0 10px;
    width: -webkit-calc(100% - 35px - 10px);
    width: calc(100% - 35px - 10px); }
  .filter__search input[type="search"] {
    max-width: 160px; }

/*
* @section      Components
* @Components	Tag Filter
*/
.tag-filter {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 -4px; }
  .tag-filter__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 4px;
    height: 24px;
    max-width: 40%;
    background: #e5e5e5;
    padding-left: 10px;
    padding-right: 20px;
    -webkit-border-radius: 24px;
    border-radius: 24px; }
  .tag-filter__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 24px; }
  .tag-filter__close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 6px;
    width: 12px;
    height: 12px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .tag-filter__close:before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 8px;
      height: 8px;
      background: url("../images/tag-location__close.png") no-repeat center center/cover;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }

/*
* @section      Components
* @Components	Marker
*/
.marker {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .marker__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 17px; }
    .marker__icon--location {
      width: 12px; }
    .marker__icon--search {
      width: 15px; }
  .marker__text {
    font-size: 13px;
    line-height: 24px; }

.marker,
.marker__icon + * {
  margin-left: 5px; }

/*
* @section      Components
* @Components	Social
*/
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px; }
  .social__icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -5px; }
  .social__icon {
    margin: 0 5px; }
    .social__icon--vk {
      background: url(../images/social/social__vk.jpg) no-repeat center center/cover; }
    .social__icon--fb {
      background: url(../images/social/social__fb.jpg) no-repeat center center/cover; }
    .social__icon--ok {
      background: url(../images/social/social__ok.jpg) no-repeat center center/cover; }
    .social__icon--tw {
      background: url(../images/social/social__tw.jpg) no-repeat center center/cover; }
    .social__icon--inst {
      background: url(../images/social/social__inst.jpg) no-repeat center center/cover; }
  .social__link {
    display: block;
    width: 30px;
    height: 30px; }

/*
* @section      Components
* @Components	Sync Carousel
*/
.syncCarousel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 510px; }
  .syncCarousel__horizontal {
    width: 640px;
    height: 100%;
    margin: 0; }
  .syncCarousel__vertical {
    width: 180px;
    height: 100%;
    margin: 0 0 0 20px; }
  .syncCarousel__button {
    position: absolute;
    width: 100%;
    height: 32px;
    background: #ebebeb;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    z-index: 1; }
    .syncCarousel__button:before {
      content: '';
      position: absolute;
      width: 33px;
      height: 14px;
      top: 50%;
      left: 50%;
      z-index: 2;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    .syncCarousel__button--prev {
      top: 0; }
      .syncCarousel__button--prev:before {
        background: url("../images/sync carousel/syncCarousel__arrow--prev.png") no-repeat center center; }
    .syncCarousel__button--next {
      bottom: 0; }
      .syncCarousel__button--next:before {
        background: url("../images/sync carousel/syncCarousel__arrow--next.png") no-repeat center center; }
    .syncCarousel__button:hover {
      background: #e73e41; }

/*
* @section      Components
* @Components	About us Cutting
*/
.page-template {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 -10px; }
  .page-template__cnt, .page-template__asside {
    margin: 0 10px; }
  .page-template__cnt {
    width: 880px; }
  .page-template__asside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 280px;
    margin: -10px 0; }
    .page-template__asside > *:first-child {
      margin-top: 10px; }

/*
* @section      Components
* @Components	breadcrumbs
*/
.breadcrumbs {
  display: block;
  line-height: 20px; }
  .breadcrumbs:before, .breadcrumbs:after {
    display: table;
    content: "";
    line-height: 0; }
  .breadcrumbs:after {
    clear: both; }
  .breadcrumbs li {
    float: left;
    position: relative;
    display: inline-block; }
    .breadcrumbs li a {
      text-decoration: underline;
      font-size: 13px;
      line-height: 20px;
      font-family: inherit;
      color: #6b6b6b; }
    .breadcrumbs li .active {
      text-decoration: none;
      color: #000000; }
    .breadcrumbs li:before {
      position: absolute;
      content: '/';
      left: -webkit-calc((-10px / 2) - 2px);
      left: calc((-10px / 2) - 2px); }
    .breadcrumbs li:first-child:before {
      display: none; }
    .breadcrumbs li + li {
      margin-left: 10px; }

/*
* @section      Components
* @Components	Card
*/
.card-structure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .card-structure__asside {
    width: 280px; }
  .card-structure__cnt {
    width: -webkit-calc(100% - 280px - 20px);
    width: calc(100% - 280px - 20px); }

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }
  .card__img {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background: #ffffff;
    height: 280px;
    border: 1px solid #efefef;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
  .card__panel {
    position: absolute;
    z-index: 1;
    color: #e7e7e7; }
  .card__information {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent; }
  .card__title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700; }
    .card__title--icon {
      position: relative;
      min-height: 44px;
      padding-left: 50px; }
      .card__title--icon:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 40px;
        height: 44px;
        background-image: url("../images/icons/icon-magazine.png");
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  .card__recomendate {
    position: relative;
    display: block;
    text-decoration: underline;
    font-size: 13px;
    line-height: 20px;
    padding-left: 24px; }
    .card__recomendate:before {
      position: absolute;
      content: '\f1e0';
      top: 50%;
      left: 0;
      font-size: 20px;
      line-height: 1;
      font-family: "FontAwesome";
      color: #e73e41;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .card__address--title, .card__phones--title, .card__site--title, .card__cateory--title {
    font-size: inherit;
    line-height: 20px;
    font-weight: 700;
    margin-right: 4px; }
  .card__address, .card__phones, .card__site {
    font-size: 14px;
    line-height: 20px; }
  .card__phones {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .card__phones--link {
      position: relative;
      display: inline-block;
      padding: 0 8px 0 0; }
      .card__phones--link:before {
        position: absolute;
        content: ',';
        right: 5px; }
    .card__phones--link:last-child:before {
      display: none; }
    .card__phones--btn {
      display: inline-block;
      text-align: center;
      text-decoration: underline;
      height: 24px;
      padding: 0 15px;
      line-height: 24px;
      color: #ffffff;
      background: #e73e41;
      -webkit-border-radius: 24px;
      border-radius: 24px; }
      .card__phones--btn:hover {
        text-decoration: none; }
  .card__site {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .card__site--link {
      position: relative;
      display: inline-block;
      text-decoration: underline;
      padding: 0 8px 0 0; }
  .card__social .social {
    margin-left: 20px; }
    .card__social .social__link {
      width: 24px;
      height: 24px; }
  .card__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 3px -10px -2px; }
  .card__cateory-item {
    text-decoration: underline;
    width: 180px;
    font-size: 11px;
    line-height: 20px;
    margin: 2px 10px; }
    .card__cateory-item--show-all {
      color: #e73e41; }

* + .card__recomendate,
* + .card__address,
* + .card__phones,
* + .card__site,
* + .card__cateory {
  margin-top: 15px; }

* + .card__phones--btn {
  margin-left: 25px; }

/*
* @section      Components
* @Components	Card rating
*/
.rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 76px;
  background: rgba(245, 245, 245, 0.7); }
  .rating__stats {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 86px; }
  .rating__avr-value {
    font-size: 30px;
    font-family: inherit;
    line-height: 1.2;
    color: #e73e41; }
  .rating__rev-count {
    font-size: 11px;
    font-family: inherit;
    color: #000000; }
  .rating__count {
    margin-right: 5px; }
  .rating__bars {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: -webkit-calc(100% - 86px);
    width: calc(100% - 86px); }

.rating--opened {
  bottom: 0; }

/*
* @section      Components
* @Components	Tabs
*/
.tabs__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 -1px;
  padding: 0; }

.tabs__nav-link {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 1px;
  padding: 12px;
  font-size: 15px;
  line-height: 1;
  color: #000000;
  background-color: #e5e5e5;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all; }
  .tabs__nav-link:hover, .tabs__nav-link--active {
    background: #e73e41;
    color: #ffffff; }

.tabs__cnt {
  padding: 40px 10px 20px;
  display: none; }
  .tabs__cnt--active {
    display: block; }

.tabs--nonflex .tabs__nav-link {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0; }

/*
* @section      Components
* @Components	Write a review
*/
.write-review__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.write-review__textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #a1a1a1;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: italic; }
  .write-review__textarea::-webkit-input-placeholder {
    text-indent: 0;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .write-review__textarea:-moz-placeholder {
    text-indent: 0;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .write-review__textarea:-moz-placeholder {
    text-indent: 0;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .write-review__textarea:-ms-input-placeholder {
    text-indent: 0;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .write-review__textarea:focus::-webkit-input-placeholder {
    text-indent: -500px;
    -webkit-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .write-review__textarea:focus::-moz-placeholder {
    text-indent: -500px;
    -webkit-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .write-review__textarea:focus:-moz-placeholder {
    text-indent: -500px;
    -webkit-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .write-review__textarea:focus:-ms-input-placeholder {
    text-indent: -500px;
    -webkit-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }

.write-review__rateit + * {
  margin-left: 10px; }

/* ========================================================
                     HEADER  Section
=========================================================*/
/*
* @section      Page Header
* @description  This section holds specific style redeclarations for some
*               of common elements in page header
*/
header, .page-header {
  position: relative; }

/* ========================================================
					 MAIN  Section
=========================================================*/
/*
* @section      Page Content
* @description  This section holds specific style redeclarations for some
*               of common elements in page content
*/
main, .page-content {
  min-height: 100vh;
  background: #f2f2f2; }

/* ========================================================
					 FOOTER  Section
=========================================================*/
/*
* @section      Page Footer
* @description  This section holds specific style redeclarations for some
*               of common elements in page footer
*/
footer, .page-footer {
  background: white;
  color: #333333; }

.comment-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .comment-wrapp__asside {
    width: 180px;
    text-align: center; }
  .comment-wrapp__cnt {
    width: -webkit-calc(100% - 180px - 20px);
    width: calc(100% - 180px - 20px);
    margin-left: 20px; }
  .comment-wrapp__face {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .comment-wrapp__name {
    color: #e73e41;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-decoration: underline; }
  .comment-wrapp__more {
    color: #e73e41;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    display: block; }
    .comment-wrapp__more span {
      border-bottom: 1px dashed #e73e41; }
  .comment-wrapp__galery {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .comment-wrapp__galery-img {
    width: 100px;
    height: 136px;
    margin: 20px 18px 20px 0;
    background: gray; }
  .comment-wrapp__answer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .comment-wrapp__answer-asside {
    position: relative;
    width: 80px; }
    .comment-wrapp__answer-asside:before {
      position: absolute;
      content: url("../images/answer-arrow.png");
      top: 10px;
      left: 50%;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .comment-wrapp__answer-cnt {
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px); }
