//========================================================
//                     Variables
//=========================================================

// Resolutions
$screen-xs-min: 576px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// Fonts
$fa: 'FontAwesome';

$default-font-family: 'Roboto', sans-serif;
$default-font-weight: 400;
$default-font-size: 14px;
$default-line-height: 20px;

// Colors
$white: #ffffff;
$black: #000000;
$default: #333333;

$primary: #e73e41;
$secondary-1: #81c03d;


$header-color: $white;
$header-bg: $white;

$content-color: $default;
$content-bg: #f2f2f2;

$footer-color: $default;
$footer-bg: white;

$aleba-colors: (
		color-1: #ff3246,
		color-2: #fac800,
		color-3: #6eb43c,
		color-4: #64aaff
);
