//TAB About Us
.standart-format
    h2 О Гостинице
    p Гостиница "Спорт" удобно расположена в тихом уютном месте при въезде в город Ярославль со стороны Москвы, Костромы, Иваново. В шаговой доступности к гостинице расположены СК "Атлант", Ледовый дворец "Арена-2000", парк "Нефтяников", ТРЦ "РИО".
    p К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.

    //-----Tabs
    -var aboutus_carouselTab = [{link: 'Фото'}, {link: 'Видео'}];
    .tabs.tabs--nonflex(id="aboutus_carouselTab")
        //-----Tabs Nav
        .tabs__nav
            -for (var j = 0; j < aboutus_carouselTab.length; j++)
                if (j == 0)
                    a.tabs__nav-link.tabs__nav-link--active(href="#") !{aboutus_carouselTab[j].link}
                else
                    a.tabs__nav-link(href="#") !{aboutus_carouselTab[j].link}
        //-----Tabs Cnt
        -for (var j = 0; j < aboutus_carouselTab.length; j++)
            case j
                when 0
                    .tabs__cnt.tabs__cnt--active
                        .syncCarousel.syncCarousel--photo
                            .swiper-container.syncCarousel__horizontal
                                .swiper-wrapper
                                    -for(var sw = 0; sw <  10; sw++)
                                        .swiper-slide Slide !{sw + 1}

                            .swiper-container.syncCarousel__vertical
                                .swiper-wrapper.syncCarousel__wrapper-vertical
                                    -for(var sw = 0; sw <  10; sw++)
                                        .swiper-slide Slide !{sw + 1}
                                //Add Arrows
                                .syncCarousel__button.syncCarousel__button--next
                                .syncCarousel__button.syncCarousel__button--prev
                when 1
                    .tabs__cnt
                        | carousel video

    p Гостиница "Спорт" удобно расположена в тихом уютном месте при въезде в город Ярославль со стороны Москвы, Костромы, Иваново. В шаговой доступности к гостинице расположены СК "Атлант", Ледовый дворец "Арена-2000", парк "Нефтяников", ТРЦ "РИО".
    p К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.
    h2 Оставить отзыв о Marmellatio

    .write-review
        .write-review__top
            .write-review__rateit.rateit(data-rateit-value="" data-rateit-ispreset="false" data-rateit-readonly="false")
            .write-review__text Начните ваш отзыв с выставления оценки
        textarea.write-review__textarea(name="text" placeholder="Текст вашего комментария")
        .write-review__bottom


    .comment-wrapp
        .comment-wrapp__asside
            img.comment-wrapp__face(src="http://pikchyriki.net/avatar/krutye/80/3.jpg" alt="")
            .comment-wrapp__name Елизавета Константинопольская
            .stock__information.information
                .information__comments
                    .information__icon.information__icon_comments
                    | 1000K

        .comment-wrapp__cnt
            .comment-wrapp__top-bar
                .review__rating
                    .rateit(data-rateit-value="4" data-rateit-ispreset="true" data-rateit-readonly="true")
                    .review__pre-rat
                        time(pubdate datetime="2017-12-23T13:05") 23 декабря 2017 в 13:05

            .comment-wrapp__middle-comment
                | К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.
                a.comment-wrapp__more(href="")
                    span Показать полностью
            .comment-wrapp__bottom-bar
                .stock__information.information
                    .information__thumbsUp
                        .information__icon.information__icon_thumbsUp
                        .information__thumbsUp-val Полезно (1000К)

                    .information__commentsO
                        .information__icon.information__icon_commentsO
                        .information__commentsO-val Ответить

                    .information__share
                        .information__icon.information__icon_share
                        .information__share-val Поделится (1000К)
            .comment-wrapp__review-section
                textarea.write-review__textarea(name="text" placeholder="Ваш ответ")






    .comment-wrapp
        .comment-wrapp__asside
            img.comment-wrapp__face(src="http://pikchyriki.net/avatar/krutye/80/3.jpg" alt="")
            .comment-wrapp__name Елизавета Константинопольская
            .stock__information.information
                .information__comments
                    .information__icon.information__icon_comments
                    | 1000K

        .comment-wrapp__cnt
            .comment-wrapp__top-bar
                .review__rating
                    .rateit(data-rateit-value="4" data-rateit-ispreset="true" data-rateit-readonly="true")
                    .review__pre-rat
                        time(pubdate datetime="2017-12-23T13:05") 23 декабря 2017 в 13:05

            .comment-wrapp__middle-comment
                | К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.
            ul.comment-wrapp__galery
                li.comment-wrapp__galery-item
                    img.comment-wrapp__galery-img
                li.comment-wrapp__galery-item
                    img.comment-wrapp__galery-img
                li.comment-wrapp__galery-item
                    img.comment-wrapp__galery-img

            .comment-wrapp__bottom-bar
                .stock__information.information
                    .information__thumbsUp
                        .information__icon.information__icon_thumbsUp
                        .information__thumbsUp-val Полезно (1000К)

                    .information__commentsO
                        .information__icon.information__icon_commentsO
                        .information__commentsO-val Ответить

                    .information__share
                        .information__icon.information__icon_share
                        .information__share-val Поделится (1000К)

    .comment-wrapp
        .comment-wrapp__asside
        .comment-wrapp__cnt
            .comment-wrapp__answer
                .comment-wrapp__answer-asside
                .comment-wrapp__answer-cnt
                    .comment-wrapp__middle-comment
                        | К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.



