//MAIN
main.page-content.bg-white
    //-----Section 1
    section.well__about-us--1
        .container
            //Навигация
            ul.breadcrumbs(xmlns:v="http://rdf.data-vocabulary.org/#")
                li.breadcrumbs__item(typeof="v:Breadcrumb")
                    a.breadcrumbs__link(rel="v:url" property="v:title" href="index.html") Главная
                li.breadcrumbs__item(typeof="v:Breadcrumb")
                    a.breadcrumbs__link(rel="v:url" property="v:title" href="index.html") Магазины
                li.breadcrumbs__item(typeof="v:Breadcrumb")
                    a.breadcrumbs__link.active(rel="v:url" property="v:title" href="articles.html") Marmaletto

    //-----Section 2
    section.well__about-us--2
        .container
            .page-template
                //-----Left part
                .page-template__cnt
                    //-----Structure
                    .card-structure
                        //-----Structure Left | Card ==> Card Banner
                        .card-structure__asside.card
                            .card__img
                                //-----Card Panel (Like + Star)
                                .card__panel.interactive-panel
                                    .interactive-panel__liked
                                    .interactive-panel__favorite
                                //-----Card Rating (need init with js)
                                .rating.news__rating
                                    .rating__stats
                                        .rating__avr-value 4.7
                                        .rating__rev-count
                                            span.rating__count  78
                                            | отзывов
                                    .rating__bars
                                        svg(id="card--rating-bar__" + "magazineNAME")
                                //-----Card img (bg card)
                                img(src="images/shop/shop__img-1.png" alt="")
                                //img(src="http://cdn.dota2.com/apps/dota2/images/blogfiles/blog_wttim.png" alt="")
                            //-----Card Information
                            .card__information.information
                                .information__likes
                                    .information__icon.information__icon_likes
                                    .information__likes-val 4.7
                                .information__comments
                                    .information__icon.information__icon_comments
                                    .information__comments-val 1000K
                                .information__viewers
                                    .information__icon.information__icon_viewers
                                    .information__viewers-val 1000K
                        //-----Structure Content | Card ==> Card Content
                        .card-structure__cnt.card
                            //-----Card Title (with icon)
                            .card__title.card__title--icon Marmaletto<br/>Если будет две строчки
                            //-----Card Recomendate
                            a.card__recomendate(href="#") Рекомендовать страницу  в соцсетях
                            //-----Card Address
                            .card__address
                                span.card__address--title Адрес:
                                | Проспект Константина Константинопольского, д. 666, ТРК “Альтаир”, место&nbsp;001, метро Новокузнецкий&nbsp;Морг, г.&nbsp;Ярославль и возможно еще что-то дикое но&nbsp;обязательное!
                            //-----Card Phones
                            .card__phones
                                span.card__phones--title Телефоны:
                                a.card__phones--link(href="tel:+74570000000") +7 (457) 000-00-00
                                a.card__phones--link(href="tel:+79100000000") +7 910 000-00-00

                                a.card__phones--btn Предложить телефон
                            //-----Card Site
                            .card__site
                                span.card__site--title Сайт:
                                a.card__site--link(href="http://marmaletto.ru" target='_blank') marmaletto.ru

                                .card__social
                                    .social
                                        ul.social__icons
                                            li.social__icon.social__icon--vk
                                                a.social__link(href="#")
                                            li.social__icon.social__icon--fb
                                                a.social__link(href="#")
                                            li.social__icon.social__icon--ok
                                                a.social__link(href="#")
                                            li.social__icon.social__icon--tw
                                                a.social__link(href="#")
                                            li.social__icon.social__icon--inst
                                                a.social__link(href="#")
                            //-----Card Site
                            .card__cateory
                                .card__cateory--title Основные категории:
                                //-var card__items = ['Аксессуары для волос', 'Галстуки', 'Обложки для документов', 'Бижутерия', 'Зонты', 'Очки', 'Брелоки и ключницы', 'Кошельки, портмоне, бумажник', 'more1', 'more2']
                                -var card__items = ['Аксессуары для волос', 'Галстуки', 'Обложки для документов', 'Бижутерия', 'Зонты', 'Очки', 'Брелоки и ключницы', 'Брелоки и ключницы1', 'Брелоки и ключницы', 'Брелоки и ключницы']
                                -var maxVal = 9;
                                -var i = 0;
                                .card__items
                                    if (card__items.length <= maxVal)
                                        -for(i; i < card__items.length; i++)
                                            a.card__cateory-item(href='#') !{card__items[i]}
                                    else
                                        while i < (maxVal - 1)
                                            a.card__cateory-item(href='#')= card__items[i++]
                                        a.card__cateory-item.card__cateory-item--show-all(href='#') Показать все

                //-----Right (asside) part
                .page-template__asside
                    .map
                        .map__yandex(id="map")
                        a.map__link(href="#") Посмотреть на Yandex.Картах

    //-----Section 3
    section.well__about-us--3
        .container
            .page-template
                //-----Left part
                .page-template__cnt
                    //-----Tabs
                    -var tab = [{link: 'О нас', page: 'tab__about-us'}, {link: 'Примерочная', page: 'tab__dressroom'}, {link: 'Товары', page: 'tab__product'}, {link: 'Блоги', page: 'tab__blog'}, {link: 'Акции', page: 'tab__stock'}, {link: 'Купоны', page: 'tab__coupon'}, {link: 'Вакансии', page: 'tab__vacansy'}];
                    .tabs(id="tabs")
                        //-----Tabs Nav
                        .tabs__nav
                            -for (var i = 0; i < tab.length; i++)
                                if (i == 0)
                                    a.tabs__nav-link.tabs__nav-link--active(href="#") !{tab[i].link}
                                else
                                    a.tabs__nav-link(href="#") !{tab[i].link}
                        //-----Tabs Cnt
                        -for (var i = 0; i < tab.length; i++)
                            if (i == 0)
                                .tabs__cnt.tabs__cnt--active
                                    include ../06_ajax/tab__about-us

                            else
                                .tabs__cnt
                                    case tab[i].page
                                        when 'tab__dressroom'
                                            include ../06_ajax/tab__dressroom
                                        when 'tab__product'
                                            include ../06_ajax/tab__product
                                        when 'tab__blog'
                                            include ../06_ajax/tab__blog
                                        when 'tab__stock'
                                            include ../06_ajax/tab__stock
                                        when 'tab__coupon'
                                            include ../06_ajax/tab__coupon
                                        when 'tab__vacansy'
                                            include ../06_ajax/tab__vacansy
                //-----Right (asside) part
                .page-template__asside
                    -for (var i = 0; i < 4; i++)
                        .advertising
                            .advertising__cnt Баннер <br/> 280 x 360
