//MAIN
main.page-content
    //-----Section 1
    section
        //-----Banner / Carousel
        .carouselFull-container.swiper-container
            .carouselFull-wrapper.swiper-wrapper
                .carouselFull.swiper-slide
                    .container
                        .carouselFull__title Безграничные скидки на&nbsp;тысячи&nbsp;товаров
                .carouselFull.swiper-slide
                    .container
                        .carouselFull__title Безграничные скидки на&nbsp;тысячи&nbsp;товаров
                .carouselFull.swiper-slide
                    .container
                        .carouselFull__title скидки на&nbsp;тысячи&nbsp;товаров
            .container
                .carouselFull__pagination.swiper-pagination

    //-----Section 2
    section.well__index--1.bg-white
        .container
            h2.text-center Начните с выбора категории
            //-----Category
            .category-wrapper
                -var category = [{name: 'Торговые центры', icon: 'icon-basket'},{name: 'Магазины', icon: 'icon-magazine'},{name: 'Авто и мото', icon: 'icon-auto'},{name: 'Услуги', icon: 'icon-services'},{name: 'Сад и огород', icon: 'icon-garden'},{name: 'Красота и здоровье', icon: 'icon-beauty'},{name: 'Путешествия и туризм', icon: 'icon-air'},{name: 'Кафе и рестораны'+'\n'+'Бары и столовые', icon: 'icon-cafe'},{name: 'Спорт и фитнес', icon: 'icon-fitnes'},{name: 'Домашние&nbsp;животные, ветеринары', icon: 'icon-pets'},{name: 'Культура и искусство', icon: 'icon-culture'},{name: 'Телекоммуникации и&nbsp;ИТ', icon: 'icon-tele'},{name: 'Строительство и ремонт', icon: 'icon-repair'},{name: 'Транспорт и перевозки', icon: 'icon-transport'},{name: 'Обучение и карьера', icon: 'icon-study'},{name: 'Развлечения и отдых', icon: 'icon-entertainment'}]
                -for(var i = 0; i < category.length; i++)
                    a.category(href="#")
                        .category__icon
                            img(src='images/icons/' + category[i].icon + '.png' alt=category[i].icon)
                        .category__name !{category[i].name}
    //-----Section 3
    section.well__index--2
        .container
            h2.text-center Это интересно
            //-----News
            .news-wrapper
                -var news = [ {date: '31.05.2016', rate: 4.7, comments: 1001, views: 1001, title: 'Шоковая терапия Сэма'}, {date: '31.05.2016', rate: 4.7, comments: 1001, views: 1001, title: 'Шоковая терапия Сэма'}, {date: '31.05.2016', rate: 4.7, comments: 1001, views: 1001, title: 'Шоковая терапия Сэма'}, {date: '31.05.2016', rate: 4.7, comments: 1001, views: 1001, title: 'Шоковая терапия Сэма'}, {date: '31.05.2016', rate: 4.7, comments: 1001, views: 1001, title: 'Шоковая терапия Сэма'}, {date: '31.05.2016', rate: 4.7, comments: 1001, views: 1001, title: 'Шоковая терапия Сэма'}, {date: '31.05.2016', rate: 4.7, comments: 1001, views: 1001, title: 'Шоковая терапия Сэма'}, {date: '31.05.2016', rate: 4.7, comments: 1001, views: 1001, title: 'Шоковая терапия Сэма'}];
                -for(var i = 0; i < news.length; i++)
                    .news
                        .news__img
                            img(src="images/news/news__img-0" + (i + 1) + ".jpg" alt="")
                            .rating.news__rating
                                .rating__stats
                                    .rating__avr-value 4.7
                                    .rating__rev-count
                                        span.rating__count  78
                                        | отзывов
                                .rating__bars
                                    svg(id="news--rating-bar__" + (i + 1))
                        .news__cnt
                            .news__information.information
                                .information__date
                                    .information__icon.information__icon_date
                                    .information__date-val !{news[i].date}
                                .information__likes
                                    .information__icon.information__icon_likes
                                    .information__likes-val !{news[i].rate}

                                if(news[i].comments > 1000)
                                    .information__comments
                                        .information__icon.information__icon_comments
                                        .information__comments-val 1000K
                                else
                                    .information__comments
                                        .information__icon.information__icon_comments
                                        .information__comments-val !{news[i].comments}

                                if(news[i].views > 1000)
                                    .information__viewers
                                        .information__icon.information__icon_viewers
                                        .information__viewers-val 1000K
                                else
                                    .information__viewers
                                        .information__icon.information__icon_viewers
                                        .information__viewers-val !{news[i].views}
                            a.news__title(href="#") !{news[i].title}
                            .news__text Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO

    //-----Section 4
    section.well__index--3.bg-grey
        .container
            h2.text-center Примерочная
            //-----Dressroom
            .dressroom-wrapper
                -var dressroom = [{rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}];
                -for(var i = 0; i < dressroom.length; i++)
                    .dressroom
                        .dressroom__img
                            .dressroom__panel.interactive-panel
                                .interactive-panel__liked
                                .interactive-panel__favorite
                            img(src="images/dressroom/dressroom__img-1.jpg" alt="")
                        .dressroom__information.information
                            .information__likes
                                .information__icon.information__icon_likes
                                .information__likes-val !{dressroom[i].rate}

                            if(dressroom[i].comments > 1000)
                                .information__comments
                                    .information__icon.information__icon_comments
                                    .information__comments-val 1000K
                            else
                                .information__comments
                                    .information__icon.information__icon_comments
                                    .information__comments-val !{dressroom[i].comments}

                            if(dressroom[i].views > 1000)
                                .information__viewers
                                    .information__icon.information__icon_viewers
                                    .information__viewers-val 1000K
                            else
                                .information__viewers
                                    .information__icon.information__icon_viewers
                                    .information__viewers-val !{dressroom[i].views}
                        .dressroom__cnt
                            .comment-inCard
                                .comment-inCard__head
                                    .comment-inCard__img
                                        img(src="images/comment-icon_1.jpg" alt="")
                                    .comment-inCard__name Елизавета
                                .comment-inCard__cnt Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO прибыльным и готовится выйти

    //-----Section 5
    section.well__index--4
        .container
            h2.text-center Товары
            //-----Product
            .product-wrapper
                -var product = [{rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}];
                -for(var i = 0; i < product.length; i++)
                    .product
                        .product__img
                            .product__panel.interactive-panel
                                .interactive-panel__liked
                                .interactive-panel__favorite
                            img(src="images/product/product__img-1.jpg" alt="")
                            .product__logo
                                img(src="images/product/product__brand-01.png")
                        .product__information.information
                            .information__likes
                                .information__icon.information__icon_likes
                                .information__likes-val !{product[i].rate}

                            if(product[i].comments > 1000)
                                .information__comments
                                    .information__icon.information__icon_comments
                                    .information__comments-val 1000K
                            else
                                .information__comments
                                    .information__icon.information__icon_comments
                                    .information__comments-val !{product[i].comments}

                            if(product[i].views > 1000)
                                .information__viewers
                                    .information__icon.information__icon_viewers
                                    .information__viewers-val 1000K
                            else
                                .information__viewers
                                    .information__icon.information__icon_viewers
                                    .information__viewers-val !{product[i].views}
                        .product__cnt
                            a.product__title(href="#") Классический бургер <span class="uppercase">TEAR&nbsp;DrOPE&nbsp;DOWN</span> в&nbsp;<span class="uppercase">BURGER KING</span>
                            .product__tag.tag
                                a.tag__item(href="#") Магазин одежды
                            .product__price.price
                                .price__new 250&nbsp;000&nbsp;<span class="fa fa-rouble"></span>
                                .price__old вместо<div class="line-through">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div>
                            .product__btn.btn Купить
                            .product__discount.discount
                                .discount__percent -15%
                                .discount__icons
                                    .discount__icon(data-icon="crop")
                                    .discount__icon(data-icon="percent")

    //-----Section 6
    section.well__index--5.bg-grey
        .container
            h2.text-center Магазины
            //-----Shop
            .shop-wrapper
                -var shop = [{rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}];
                -for(var i = 0; i < shop.length; i++)
                    .shop
                        .shop__img
                            .shop__panel.interactive-panel
                                .interactive-panel__liked
                                .interactive-panel__favorite
                            img(src="images/shop/shop__img-1.png" alt="")
                        .shop__information.information
                            .information__likes
                                .information__icon.information__icon_likes
                                .information__likes-val !{shop[i].rate}

                            if(shop[i].comments > 1000)
                                .information__comments
                                    .information__icon.information__icon_comments
                                    .information__comments-val 1000K
                            else
                                .information__comments
                                    .information__icon.information__icon_comments
                                    .information__comments-val !{shop[i].comments}

                            if(shop[i].views > 1000)
                                .information__viewers
                                    .information__icon.information__icon_viewers
                                    .information__viewers-val 1000K
                            else
                                .information__viewers
                                    .information__icon.information__icon_viewers
                                    .information__viewers-val !{shop[i].views}
                        .shop__cnt
                            a.shop__title(href="#") <span class="uppercase">Burger king</span> <br/> <span class="uppercase">Burger king</span>
                            address.shop__address Московский переулок, д.13, г. Москва
                            .shop__tag.tag
                                a.tag__item(href="#") Магазин одежды
                                a.tag__item(href="#") Обувь
                                a.tag__item(href="#") Головные уборы даром
                            .shop__discount.discount
                                .discount__percent -15%
                                .discount__icons
                                    .discount__icon(data-icon="crop")
                                    .discount__icon(data-icon="percent")
    //-----Section 7
    section.well__index--6
        .container
            h2.text-center Акции
            //-----Stock Carousel
            .stock-container.swiper-container
                .stock-wrapper.swiper-wrapper
                    -var stock = [{rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}];
                    -for(var i = 0; i < stock.length; i++)
                        .stock.swiper-slide
                            .stock__img
                                .stock__panel.interactive-panel
                                    .interactive-panel__liked
                                    .interactive-panel__favorite
                                .stock__banner.banner
                                    .banner__asside -99%
                                    .banner__cnt
                                        .banner__icon
                                        .banner__text Осталось
                                            span.banner__day-to-finish 99
                                            | дней
                                        .banner__time 24:30:40
                                img(src="images/stock/stock__img-1.jpg" alt="")
                            .stock__information.information
                                .information__likes
                                    .information__icon.information__icon_likes
                                    | !{stock[i].rate}

                                if(stock[i].comments > 1000)
                                    .information__comments
                                        .information__icon.information__icon_comments
                                        | 1000K
                                else
                                    .information__comments
                                        .information__icon.information__icon_comments
                                        | !{stock[i].comments}

                                if(stock[i].views > 1000)
                                    .information__viewers
                                        .information__icon.information__icon_viewers
                                        | 1000K
                                else
                                    .information__viewers
                                        .information__icon.information__icon_viewers
                                        | !{stock[i].views}
                            .stock__cnt
                                a.stock__title(href="#") Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными
                //Add Arrows
                .stock__button.swiper-button.swiper-button-next
                .stock__button.swiper-button.swiper-button-prev

    //-----Section 8
    section.well__index--7.bg-grey
        .container
            //-----Coupon Carousel
            h2.text-center Купоны
            .coupon-container.swiper-container
                .coupon-wrapper.swiper-wrapper
                    -var coupon = [{rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}, {rate: 4.7, comments: 1001, views: 1001}];
                    -for(var i = 0; i < stock.length; i++)
                        .coupon.swiper-slide
                            .coupon__img
                                .coupon__panel.interactive-panel
                                    .interactive-panel__liked
                                    .interactive-panel__favorite
                                .coupon__banner.banner
                                    .banner__asside 999&nbsp;999 <i class="fa fa-rouble"></i>
                                    .banner__cnt
                                        .banner__text Осталось
                                            span.banner__count 666
                                            | купонов
                                img(src="images/coupon/coupon__img-1.jpg" alt="")
                            .coupon__information.information
                                .information__likes
                                    .information__icon.information__icon_likes
                                    .information__likes-val !{coupon[i].rate}

                                if(coupon[i].comments > 1000)
                                    .information__comments
                                        .information__icon.information__icon_comments
                                        .information__comments-val 1000K
                                else
                                    .information__comments
                                        .information__icon.information__icon_comments
                                        .information__comments-val !{coupon[i].comments}

                                if(coupon[i].views > 1000)
                                    .information__viewers
                                        .information__icon.information__icon_viewers
                                        .information__viewers-val 1000K
                                else
                                    .information__viewers
                                        .information__icon.information__icon_viewers
                                        .information__viewers-val !{coupon[i].views}
                            .coupon__cnt
                                a.coupon__title(href="#") Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными
                //Add Arrows
                .coupon__button.swiper-button.swiper-button-next
                .coupon__button.swiper-button.swiper-button-prev

    //-----Section 9
    section.well__index--8
        .container
            h2.text-center Торговые центр
            //-----Product Center
            .prodCenter-wrapper
                -var prodCenter = [{rate: 4.7, comments: 1001, views: 1001, title: 'ТРК «Альтаир»'}, {rate: 4.7, comments: 1001, views: 1001, title: 'ТРК «Волшебный мир»'}, {rate: 4.7, comments: 1001, views: 1001, title: 'ТРК «Альтаир номер двадцать пять»'}, {rate: 4.7, comments: 1001, views: 1001, title: 'ТРК «Волшебный мир»'}];
                -for(var i = 0; i < prodCenter.length; i++)
                    .prodCenter
                        .prodCenter__img
                            .prodCenter__panel.interactive-panel
                                .interactive-panel__liked
                                .interactive-panel__favorite
                            .prodCenter__discount.discount
                                .discount__percent -90%
                                    span.discount__prepercent до
                                .discount__icons
                                    .discount__icon(data-icon="crop")
                                    .discount__icon(data-icon="percent")
                                    .discount__icon(data-icon="crop")
                                    .discount__icon(data-icon="percent")
                            img(src="images/product center/prodCenter__img-1.jpg" alt="")
                        .prodCenter__information.information
                            .information__likes
                                .information__icon.information__icon_likes
                                .information__likes-val !{prodCenter[i].rate}

                            if(prodCenter[i].comments > 1000)
                                .information__comments
                                    .information__icon.information__icon_comments
                                    .information__comments-val 1000K
                            else
                                .information__comments
                                    .information__icon.information__icon_comments
                                    .information__comments-val !{prodCenter[i].comments}

                            if(prodCenter[i].views > 1000)
                                .information__viewers
                                    .information__icon.information__icon_viewers
                                    .information__viewers-val 1000K
                            else
                                .information__viewers
                                    .information__icon.information__icon_viewers
                                    .information__viewers-val !{prodCenter[i].views}
                        .prodCenter__cnt
                            a.prodCenter__title(href="#") !{prodCenter[i].title}
                            address.prodCenter__address ул. Нижегородская, д. 122, г. Нижний Новгород
                            .prodCenter__contCompany Компаний:
                                a.prodCenter__link(href="#") 455