/*
* @section      Components
* @Components	Card
*/

.card-structure{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	&__asside{
		width: 280px;
	}
	&__cnt{
		width: calc(100% - 280px - 20px);
	}
}

.card{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	overflow: hidden;
	&__img{
		position: relative;
		display: flex;
		overflow: hidden;
		background: $white;
		height: 280px;
		border: 1px solid #efefef;
		border-radius: 6px;
	}
	&__panel{
		position: absolute;
		z-index: 1;
		color: #e7e7e7;
	}
	&__information{
		display: flex;
		justify-content: center;
		background: transparent;
	}

	&__title{
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
		&--icon{
			position: relative;
			min-height: 44px;
			padding-left: 50px;
			&:before{
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 40px;
				height: 44px;
				background-image: url("../images/icons/icon-magazine.png");
				background-size: contain;
				background-position: left center;
				background-repeat: no-repeat;
				transform: translateY(-50%);
			}
		}
	}

	&__recomendate{
		position: relative;
		display: block;
		text-decoration: underline;
		font-size: 13px;
		line-height: 20px;
		padding-left: 24px;
		&:before{
			position: absolute;
			content: '\f1e0';
			top: 50%;
			left: 0;
			font-size: 20px;
			line-height: 1;
			font-family: $fa;
			color: $primary;
			transform: translateY(-50%);
		}
	}

	&__address,
	&__phones,
	&__site,
	&__cateory{
		&--title{
			font-size: inherit;
			line-height: 20px;
			font-weight: 700;
			margin-right: 4px;
		}
	}

	&__address,
	&__phones,
	&__site{
		font-size: 14px;
		line-height: 20px;
	}

	&__phones{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
		&--link{
			position: relative;
			display: inline-block;
			padding: 0 8px 0 0;
			&:before{
				position: absolute;
				content: ',';
				right: 5px;
			}
		}
		&--link:last-child{
			&:before{
				display: none;
			}
		}

		&--btn{
			display: inline-block;
			text-align: center;
			text-decoration: underline;
			height: 24px;
			padding: 0 15px;
			line-height: 24px;
			color: $white;
			background: $primary;
			border-radius: 24px;
			&:hover{
				text-decoration: none;
			}
		}
	}

	&__site{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
		&--link{
			position: relative;
			display: inline-block;
			text-decoration: underline;
			padding: 0 8px 0 0;
		}
	}

	&__social{
		.social{
			margin-left: 20px;
			&__link {
				width: 24px;
				height: 24px;
			}
		}
	}

	&__items{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 3px -10px -2px;
	}
	&__cateory-item{
		text-decoration: underline;
		width: 180px;
		font-size: 11px;
		line-height: 20px;
		margin: 2px 10px;
		//modificator
		&--show-all{
			color: $primary;
		}
	}
}


.card{
	* + &__recomendate,
	* + &__address,
	* + &__phones,
	* + &__site,
	* + &__cateory{
		margin-top: 15px;
	}

	&__phones{
		* + &--btn{
			margin-left: 25px;
		}
	}
}

/*
* @section      Components
* @Components	Card rating
*/

.rating{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 76px;
	background: rgba(#f5f5f5, 0.7);
	&__stats{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 86px;
	}

	&__avr-value{
		font-size: 30px;
		font-family: inherit;
		line-height: 1.2;
		color: $primary;
	}
	&__rev-count{
		font-size: 11px;
		font-family: inherit;
		//color: #bbbaba;
		color: $black;
	}
	&__count{
		margin-right: 5px;
	}
	&__bars{
		display: flex;
		position: relative;
		width: calc(100% - 86px)
	}
}

.rating{
	&--opened{
		bottom: 0;
	}
}
