/*
* @section      Components
* @Components	Tabs
*/

.tabs{
	// Navigation
	&__nav{
		display: flex;
		list-style: none;
		margin: 0 -1px;
		padding: 0;
	}
	&__nav-link{
		text-align: center;
		flex: 1;
		margin: 0 1px;
		padding: 12px;
		font-size: 15px;
		line-height: 1;
		color: $black;
		background-color: #e5e5e5;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		transition: 0.3s ease all;

		&:hover,
		&--active{
			background: $primary;
			color: $white;
		}
	}

	//Content
	&__cnt{
		padding: 40px 10px 20px;
		display: none;
		//background-color: #e7e7e7;
		&--active{
			display: block;
		}
	}
}

.tabs{
	&--nonflex{
		.tabs__nav-link{
			flex: 0;
		}
	}
}