/*
* @section      Components
* @Components	Write a review
*/

.write-review{
	&__top{
		display: flex;
	}
	&__textarea{
		resize: none;
		width: 100%;
		padding:10px;
		box-sizing: border-box;
		border: 1px solid #e6e6e6;
		@include border-radius(10px);

		color: #a1a1a1;
		font-size: 14px;
		line-height: 24px;
		font-family: $default-font-family;
		font-style: italic;

		&::-webkit-input-placeholder       {text-indent: 0; transition: text-indent 0.3s ease;}
		&:-moz-placeholder                 {text-indent: 0; transition: text-indent 0.3s ease;}
		&:-moz-placeholder                 {text-indent: 0; transition: text-indent 0.3s ease;}
		&:-ms-input-placeholder            {text-indent: 0; transition: text-indent 0.3s ease;}
		&:focus{
			&::-webkit-input-placeholder   {text-indent: -500px; transition: text-indent 0.5s ease;}
			&::-moz-placeholder            {text-indent: -500px; transition: text-indent 0.5s ease;}
			&:-moz-placeholder             {text-indent: -500px; transition: text-indent 0.5s ease;}
			&:-ms-input-placeholder        {text-indent: -500px; transition: text-indent 0.5s ease;}
		}
	}
	&__bottom{

	}
}

.write-review{
	&__rateit + * {
		margin-left: 10px;
	}
}