
<!--MAIN-->
<main class="page-content">
	<section>
		<div class="carouselFull-container swiper-container">
			<div class="carouselFull-wrapper swiper-wrapper">
				<div class="carouselFull swiper-slide">
					<div class="container">
						<div class="carouselFull__title">Безграничные скидки на&nbsp;тысячи&nbsp;товаров</div>
					</div>
				</div>
				<div class="carouselFull swiper-slide">
					<div class="container">
						<div class="carouselFull__title">Безграничные скидки на&nbsp;тысячи&nbsp;товаров</div>
					</div>
				</div>
				<div class="carouselFull swiper-slide">
					<div class="container">
						<div class="carouselFull__title">скидки на&nbsp;тысячи&nbsp;товаров</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="carouselFull__pagination swiper-pagination"></div>
			</div>
		</div>
	</section>
	<section class="well__index--1 bg-white">
		<div class="container">
			<h2 class="text-center">Начните с выбора категории</h2>
			<div class="category-wrapper"><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-basket.png" alt="icon-basket"/></div>
					<div class="category__name">Торговые центры</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-magazine.png" alt="icon-magazine"/></div>
					<div class="category__name">Магазины</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-auto.png" alt="icon-auto"/></div>
					<div class="category__name">Авто и мото</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-services.png" alt="icon-services"/></div>
					<div class="category__name">Услуги</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-garden.png" alt="icon-garden"/></div>
					<div class="category__name">Сад и огород</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-beauty.png" alt="icon-beauty"/></div>
					<div class="category__name">Красота и здоровье</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-air.png" alt="icon-air"/></div>
					<div class="category__name">Путешествия и туризм</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-cafe.png" alt="icon-cafe"/></div>
					<div class="category__name">Кафе и рестораны
Бары и столовые</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-fitnes.png" alt="icon-fitnes"/></div>
					<div class="category__name">Спорт и фитнес</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-pets.png" alt="icon-pets"/></div>
					<div class="category__name">Домашние&nbsp;животные, ветеринары</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-culture.png" alt="icon-culture"/></div>
					<div class="category__name">Культура и искусство</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-tele.png" alt="icon-tele"/></div>
					<div class="category__name">Телекоммуникации и&nbsp;ИТ</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-repair.png" alt="icon-repair"/></div>
					<div class="category__name">Строительство и ремонт</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-transport.png" alt="icon-transport"/></div>
					<div class="category__name">Транспорт и перевозки</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-study.png" alt="icon-study"/></div>
					<div class="category__name">Обучение и карьера</div></a><a class="category" href="#">
					<div class="category__icon"><img src="images/icons/icon-entertainment.png" alt="icon-entertainment"/></div>
					<div class="category__name">Развлечения и отдых</div></a>
			</div>
		</div>
	</section>
	<section class="well__index--2">
		<div class="container">
			<h2 class="text-center">Это интересно</h2>
			<div class="news-wrapper">
				<div class="news">
					<div class="news__img"><img src="images/news/news__img-01.jpg" alt=""/>
						<div class="rating news__rating">
							<div class="rating__stats">
								<div class="rating__avr-value">4.7</div>
								<div class="rating__rev-count"><span class="rating__count"> 78</span>отзывов</div>
							</div>
							<div class="rating__bars">
								<svg id="news--rating-bar__1"></svg>
							</div>
						</div>
					</div>
					<div class="news__cnt">
						<div class="news__information information">
							<div class="information__date">
								<div class="information__icon information__icon_date"></div>
								<div class="information__date-val">31.05.2016</div>
							</div>
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div><a class="news__title" href="#">Шоковая терапия Сэма</a>
						<div class="news__text">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO</div>
					</div>
				</div>
				<div class="news">
					<div class="news__img"><img src="images/news/news__img-02.jpg" alt=""/>
						<div class="rating news__rating">
							<div class="rating__stats">
								<div class="rating__avr-value">4.7</div>
								<div class="rating__rev-count"><span class="rating__count"> 78</span>отзывов</div>
							</div>
							<div class="rating__bars">
								<svg id="news--rating-bar__2"></svg>
							</div>
						</div>
					</div>
					<div class="news__cnt">
						<div class="news__information information">
							<div class="information__date">
								<div class="information__icon information__icon_date"></div>
								<div class="information__date-val">31.05.2016</div>
							</div>
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div><a class="news__title" href="#">Шоковая терапия Сэма</a>
						<div class="news__text">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO</div>
					</div>
				</div>
				<div class="news">
					<div class="news__img"><img src="images/news/news__img-03.jpg" alt=""/>
						<div class="rating news__rating">
							<div class="rating__stats">
								<div class="rating__avr-value">4.7</div>
								<div class="rating__rev-count"><span class="rating__count"> 78</span>отзывов</div>
							</div>
							<div class="rating__bars">
								<svg id="news--rating-bar__3"></svg>
							</div>
						</div>
					</div>
					<div class="news__cnt">
						<div class="news__information information">
							<div class="information__date">
								<div class="information__icon information__icon_date"></div>
								<div class="information__date-val">31.05.2016</div>
							</div>
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div><a class="news__title" href="#">Шоковая терапия Сэма</a>
						<div class="news__text">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO</div>
					</div>
				</div>
				<div class="news">
					<div class="news__img"><img src="images/news/news__img-04.jpg" alt=""/>
						<div class="rating news__rating">
							<div class="rating__stats">
								<div class="rating__avr-value">4.7</div>
								<div class="rating__rev-count"><span class="rating__count"> 78</span>отзывов</div>
							</div>
							<div class="rating__bars">
								<svg id="news--rating-bar__4"></svg>
							</div>
						</div>
					</div>
					<div class="news__cnt">
						<div class="news__information information">
							<div class="information__date">
								<div class="information__icon information__icon_date"></div>
								<div class="information__date-val">31.05.2016</div>
							</div>
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div><a class="news__title" href="#">Шоковая терапия Сэма</a>
						<div class="news__text">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO</div>
					</div>
				</div>
				<div class="news">
					<div class="news__img"><img src="images/news/news__img-05.jpg" alt=""/>
						<div class="rating news__rating">
							<div class="rating__stats">
								<div class="rating__avr-value">4.7</div>
								<div class="rating__rev-count"><span class="rating__count"> 78</span>отзывов</div>
							</div>
							<div class="rating__bars">
								<svg id="news--rating-bar__5"></svg>
							</div>
						</div>
					</div>
					<div class="news__cnt">
						<div class="news__information information">
							<div class="information__date">
								<div class="information__icon information__icon_date"></div>
								<div class="information__date-val">31.05.2016</div>
							</div>
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div><a class="news__title" href="#">Шоковая терапия Сэма</a>
						<div class="news__text">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO</div>
					</div>
				</div>
				<div class="news">
					<div class="news__img"><img src="images/news/news__img-06.jpg" alt=""/>
						<div class="rating news__rating">
							<div class="rating__stats">
								<div class="rating__avr-value">4.7</div>
								<div class="rating__rev-count"><span class="rating__count"> 78</span>отзывов</div>
							</div>
							<div class="rating__bars">
								<svg id="news--rating-bar__6"></svg>
							</div>
						</div>
					</div>
					<div class="news__cnt">
						<div class="news__information information">
							<div class="information__date">
								<div class="information__icon information__icon_date"></div>
								<div class="information__date-val">31.05.2016</div>
							</div>
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div><a class="news__title" href="#">Шоковая терапия Сэма</a>
						<div class="news__text">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO</div>
					</div>
				</div>
				<div class="news">
					<div class="news__img"><img src="images/news/news__img-07.jpg" alt=""/>
						<div class="rating news__rating">
							<div class="rating__stats">
								<div class="rating__avr-value">4.7</div>
								<div class="rating__rev-count"><span class="rating__count"> 78</span>отзывов</div>
							</div>
							<div class="rating__bars">
								<svg id="news--rating-bar__7"></svg>
							</div>
						</div>
					</div>
					<div class="news__cnt">
						<div class="news__information information">
							<div class="information__date">
								<div class="information__icon information__icon_date"></div>
								<div class="information__date-val">31.05.2016</div>
							</div>
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div><a class="news__title" href="#">Шоковая терапия Сэма</a>
						<div class="news__text">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO</div>
					</div>
				</div>
				<div class="news">
					<div class="news__img"><img src="images/news/news__img-08.jpg" alt=""/>
						<div class="rating news__rating">
							<div class="rating__stats">
								<div class="rating__avr-value">4.7</div>
								<div class="rating__rev-count"><span class="rating__count"> 78</span>отзывов</div>
							</div>
							<div class="rating__bars">
								<svg id="news--rating-bar__8"></svg>
							</div>
						</div>
					</div>
					<div class="news__cnt">
						<div class="news__information information">
							<div class="information__date">
								<div class="information__icon information__icon_date"></div>
								<div class="information__date-val">31.05.2016</div>
							</div>
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div><a class="news__title" href="#">Шоковая терапия Сэма</a>
						<div class="news__text">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="well__index--3 bg-grey">
		<div class="container">
			<h2 class="text-center">Примерочная</h2>
			<div class="dressroom-wrapper">
				<div class="dressroom">
					<div class="dressroom__img">
						<div class="dressroom__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/dressroom/dressroom__img-1.jpg" alt=""/>
					</div>
					<div class="dressroom__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="dressroom__cnt">
						<div class="comment-inCard">
							<div class="comment-inCard__head">
								<div class="comment-inCard__img"><img src="images/comment-icon_1.jpg" alt=""/></div>
								<div class="comment-inCard__name">Елизавета</div>
							</div>
							<div class="comment-inCard__cnt">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO прибыльным и готовится выйти</div>
						</div>
					</div>
				</div>
				<div class="dressroom">
					<div class="dressroom__img">
						<div class="dressroom__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/dressroom/dressroom__img-1.jpg" alt=""/>
					</div>
					<div class="dressroom__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="dressroom__cnt">
						<div class="comment-inCard">
							<div class="comment-inCard__head">
								<div class="comment-inCard__img"><img src="images/comment-icon_1.jpg" alt=""/></div>
								<div class="comment-inCard__name">Елизавета</div>
							</div>
							<div class="comment-inCard__cnt">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO прибыльным и готовится выйти</div>
						</div>
					</div>
				</div>
				<div class="dressroom">
					<div class="dressroom__img">
						<div class="dressroom__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/dressroom/dressroom__img-1.jpg" alt=""/>
					</div>
					<div class="dressroom__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="dressroom__cnt">
						<div class="comment-inCard">
							<div class="comment-inCard__head">
								<div class="comment-inCard__img"><img src="images/comment-icon_1.jpg" alt=""/></div>
								<div class="comment-inCard__name">Елизавета</div>
							</div>
							<div class="comment-inCard__cnt">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO прибыльным и готовится выйти</div>
						</div>
					</div>
				</div>
				<div class="dressroom">
					<div class="dressroom__img">
						<div class="dressroom__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/dressroom/dressroom__img-1.jpg" alt=""/>
					</div>
					<div class="dressroom__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="dressroom__cnt">
						<div class="comment-inCard">
							<div class="comment-inCard__head">
								<div class="comment-inCard__img"><img src="images/comment-icon_1.jpg" alt=""/></div>
								<div class="comment-inCard__name">Елизавета</div>
							</div>
							<div class="comment-inCard__cnt">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO прибыльным и готовится выйти</div>
						</div>
					</div>
				</div>
				<div class="dressroom">
					<div class="dressroom__img">
						<div class="dressroom__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/dressroom/dressroom__img-1.jpg" alt=""/>
					</div>
					<div class="dressroom__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="dressroom__cnt">
						<div class="comment-inCard">
							<div class="comment-inCard__head">
								<div class="comment-inCard__img"><img src="images/comment-icon_1.jpg" alt=""/></div>
								<div class="comment-inCard__name">Елизавета</div>
							</div>
							<div class="comment-inCard__cnt">Как сервис HotelTonight перестал тратить $2,5 миллиона в месяц, стал прибыльным и готовится выйти на IPO прибыльным и готовится выйти</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="well__index--4">
		<div class="container">
			<h2 class="text-center">Товары</h2>
			<div class="product-wrapper">
				<div class="product">
					<div class="product__img">
						<div class="product__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/product/product__img-1.jpg" alt=""/>
						<div class="product__logo"><img src="images/product/product__brand-01.png"/></div>
					</div>
					<div class="product__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="product__cnt"><a class="product__title" href="#">Классический бургер <span class="uppercase">TEAR&nbsp;DrOPE&nbsp;DOWN</span> в&nbsp;<span class="uppercase">BURGER KING</span></a>
						<div class="product__tag tag"><a class="tag__item" href="#">Магазин одежды</a></div>
						<div class="product__price price">
							<div class="price__new">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div>
							<div class="price__old">вместо<div class="line-through">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div></div>
						</div>
						<div class="product__btn btn">Купить</div>
						<div class="product__discount discount">
							<div class="discount__percent">-15%</div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="product__img">
						<div class="product__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/product/product__img-1.jpg" alt=""/>
						<div class="product__logo"><img src="images/product/product__brand-01.png"/></div>
					</div>
					<div class="product__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="product__cnt"><a class="product__title" href="#">Классический бургер <span class="uppercase">TEAR&nbsp;DrOPE&nbsp;DOWN</span> в&nbsp;<span class="uppercase">BURGER KING</span></a>
						<div class="product__tag tag"><a class="tag__item" href="#">Магазин одежды</a></div>
						<div class="product__price price">
							<div class="price__new">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div>
							<div class="price__old">вместо<div class="line-through">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div></div>
						</div>
						<div class="product__btn btn">Купить</div>
						<div class="product__discount discount">
							<div class="discount__percent">-15%</div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="product__img">
						<div class="product__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/product/product__img-1.jpg" alt=""/>
						<div class="product__logo"><img src="images/product/product__brand-01.png"/></div>
					</div>
					<div class="product__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="product__cnt"><a class="product__title" href="#">Классический бургер <span class="uppercase">TEAR&nbsp;DrOPE&nbsp;DOWN</span> в&nbsp;<span class="uppercase">BURGER KING</span></a>
						<div class="product__tag tag"><a class="tag__item" href="#">Магазин одежды</a></div>
						<div class="product__price price">
							<div class="price__new">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div>
							<div class="price__old">вместо<div class="line-through">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div></div>
						</div>
						<div class="product__btn btn">Купить</div>
						<div class="product__discount discount">
							<div class="discount__percent">-15%</div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="product__img">
						<div class="product__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/product/product__img-1.jpg" alt=""/>
						<div class="product__logo"><img src="images/product/product__brand-01.png"/></div>
					</div>
					<div class="product__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="product__cnt"><a class="product__title" href="#">Классический бургер <span class="uppercase">TEAR&nbsp;DrOPE&nbsp;DOWN</span> в&nbsp;<span class="uppercase">BURGER KING</span></a>
						<div class="product__tag tag"><a class="tag__item" href="#">Магазин одежды</a></div>
						<div class="product__price price">
							<div class="price__new">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div>
							<div class="price__old">вместо<div class="line-through">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div></div>
						</div>
						<div class="product__btn btn">Купить</div>
						<div class="product__discount discount">
							<div class="discount__percent">-15%</div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="product__img">
						<div class="product__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/product/product__img-1.jpg" alt=""/>
						<div class="product__logo"><img src="images/product/product__brand-01.png"/></div>
					</div>
					<div class="product__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="product__cnt"><a class="product__title" href="#">Классический бургер <span class="uppercase">TEAR&nbsp;DrOPE&nbsp;DOWN</span> в&nbsp;<span class="uppercase">BURGER KING</span></a>
						<div class="product__tag tag"><a class="tag__item" href="#">Магазин одежды</a></div>
						<div class="product__price price">
							<div class="price__new">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div>
							<div class="price__old">вместо<div class="line-through">250&nbsp;000&nbsp;<span class="fa fa-rouble"></span></div></div>
						</div>
						<div class="product__btn btn">Купить</div>
						<div class="product__discount discount">
							<div class="discount__percent">-15%</div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="well__index--5 bg-grey">
		<div class="container">
			<h2 class="text-center">Магазины</h2>
			<div class="shop-wrapper">
				<div class="shop">
					<div class="shop__img">
						<div class="shop__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/shop/shop__img-1.png" alt=""/>
					</div>
					<div class="shop__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="shop__cnt"><a class="shop__title" href="#"><span class="uppercase">Burger king</span> <br/> <span class="uppercase">Burger king</span></a>
						<address class="shop__address">Московский переулок, д.13, г. Москва</address>
						<div class="shop__tag tag"><a class="tag__item" href="#">Магазин одежды</a><a class="tag__item" href="#">Обувь</a><a class="tag__item" href="#">Головные уборы даром</a></div>
						<div class="shop__discount discount">
							<div class="discount__percent">-15%</div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="shop">
					<div class="shop__img">
						<div class="shop__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/shop/shop__img-1.png" alt=""/>
					</div>
					<div class="shop__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="shop__cnt"><a class="shop__title" href="#"><span class="uppercase">Burger king</span> <br/> <span class="uppercase">Burger king</span></a>
						<address class="shop__address">Московский переулок, д.13, г. Москва</address>
						<div class="shop__tag tag"><a class="tag__item" href="#">Магазин одежды</a><a class="tag__item" href="#">Обувь</a><a class="tag__item" href="#">Головные уборы даром</a></div>
						<div class="shop__discount discount">
							<div class="discount__percent">-15%</div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="shop">
					<div class="shop__img">
						<div class="shop__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/shop/shop__img-1.png" alt=""/>
					</div>
					<div class="shop__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="shop__cnt"><a class="shop__title" href="#"><span class="uppercase">Burger king</span> <br/> <span class="uppercase">Burger king</span></a>
						<address class="shop__address">Московский переулок, д.13, г. Москва</address>
						<div class="shop__tag tag"><a class="tag__item" href="#">Магазин одежды</a><a class="tag__item" href="#">Обувь</a><a class="tag__item" href="#">Головные уборы даром</a></div>
						<div class="shop__discount discount">
							<div class="discount__percent">-15%</div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="shop">
					<div class="shop__img">
						<div class="shop__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/shop/shop__img-1.png" alt=""/>
					</div>
					<div class="shop__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="shop__cnt"><a class="shop__title" href="#"><span class="uppercase">Burger king</span> <br/> <span class="uppercase">Burger king</span></a>
						<address class="shop__address">Московский переулок, д.13, г. Москва</address>
						<div class="shop__tag tag"><a class="tag__item" href="#">Магазин одежды</a><a class="tag__item" href="#">Обувь</a><a class="tag__item" href="#">Головные уборы даром</a></div>
						<div class="shop__discount discount">
							<div class="discount__percent">-15%</div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="shop">
					<div class="shop__img">
						<div class="shop__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div><img src="images/shop/shop__img-1.png" alt=""/>
					</div>
					<div class="shop__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="shop__cnt"><a class="shop__title" href="#"><span class="uppercase">Burger king</span> <br/> <span class="uppercase">Burger king</span></a>
						<address class="shop__address">Московский переулок, д.13, г. Москва</address>
						<div class="shop__tag tag"><a class="tag__item" href="#">Магазин одежды</a><a class="tag__item" href="#">Обувь</a><a class="tag__item" href="#">Головные уборы даром</a></div>
						<div class="shop__discount discount">
							<div class="discount__percent">-15%</div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="well__index--6">
		<div class="container">
			<h2 class="text-center">Акции</h2>
			<div class="stock-container swiper-container">
				<div class="stock-wrapper swiper-wrapper">
					<div class="stock swiper-slide">
						<div class="stock__img">
							<div class="stock__panel interactive-panel">
								<div class="interactive-panel__liked"></div>
								<div class="interactive-panel__favorite"></div>
							</div>
							<div class="stock__banner banner">
								<div class="banner__asside">-99%</div>
								<div class="banner__cnt">
									<div class="banner__icon"></div>
									<div class="banner__text">Осталось<span class="banner__day-to-finish">99</span>дней</div>
									<div class="banner__time">24:30:40</div>
								</div>
							</div><img src="images/stock/stock__img-1.jpg" alt=""/>
						</div>
						<div class="stock__information information">
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>4.7
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>1000K
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>1000K
							</div>
						</div>
						<div class="stock__cnt"><a class="stock__title" href="#">Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными</a></div>
					</div>
					<div class="stock swiper-slide">
						<div class="stock__img">
							<div class="stock__panel interactive-panel">
								<div class="interactive-panel__liked"></div>
								<div class="interactive-panel__favorite"></div>
							</div>
							<div class="stock__banner banner">
								<div class="banner__asside">-99%</div>
								<div class="banner__cnt">
									<div class="banner__icon"></div>
									<div class="banner__text">Осталось<span class="banner__day-to-finish">99</span>дней</div>
									<div class="banner__time">24:30:40</div>
								</div>
							</div><img src="images/stock/stock__img-1.jpg" alt=""/>
						</div>
						<div class="stock__information information">
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>4.7
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>1000K
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>1000K
							</div>
						</div>
						<div class="stock__cnt"><a class="stock__title" href="#">Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными</a></div>
					</div>
					<div class="stock swiper-slide">
						<div class="stock__img">
							<div class="stock__panel interactive-panel">
								<div class="interactive-panel__liked"></div>
								<div class="interactive-panel__favorite"></div>
							</div>
							<div class="stock__banner banner">
								<div class="banner__asside">-99%</div>
								<div class="banner__cnt">
									<div class="banner__icon"></div>
									<div class="banner__text">Осталось<span class="banner__day-to-finish">99</span>дней</div>
									<div class="banner__time">24:30:40</div>
								</div>
							</div><img src="images/stock/stock__img-1.jpg" alt=""/>
						</div>
						<div class="stock__information information">
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>4.7
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>1000K
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>1000K
							</div>
						</div>
						<div class="stock__cnt"><a class="stock__title" href="#">Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными</a></div>
					</div>
					<div class="stock swiper-slide">
						<div class="stock__img">
							<div class="stock__panel interactive-panel">
								<div class="interactive-panel__liked"></div>
								<div class="interactive-panel__favorite"></div>
							</div>
							<div class="stock__banner banner">
								<div class="banner__asside">-99%</div>
								<div class="banner__cnt">
									<div class="banner__icon"></div>
									<div class="banner__text">Осталось<span class="banner__day-to-finish">99</span>дней</div>
									<div class="banner__time">24:30:40</div>
								</div>
							</div><img src="images/stock/stock__img-1.jpg" alt=""/>
						</div>
						<div class="stock__information information">
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>4.7
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>1000K
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>1000K
							</div>
						</div>
						<div class="stock__cnt"><a class="stock__title" href="#">Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными</a></div>
					</div>
					<div class="stock swiper-slide">
						<div class="stock__img">
							<div class="stock__panel interactive-panel">
								<div class="interactive-panel__liked"></div>
								<div class="interactive-panel__favorite"></div>
							</div>
							<div class="stock__banner banner">
								<div class="banner__asside">-99%</div>
								<div class="banner__cnt">
									<div class="banner__icon"></div>
									<div class="banner__text">Осталось<span class="banner__day-to-finish">99</span>дней</div>
									<div class="banner__time">24:30:40</div>
								</div>
							</div><img src="images/stock/stock__img-1.jpg" alt=""/>
						</div>
						<div class="stock__information information">
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>4.7
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>1000K
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>1000K
							</div>
						</div>
						<div class="stock__cnt"><a class="stock__title" href="#">Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными</a></div>
					</div>
				</div>
				<!--Add Arrows-->
				<div class="stock__button swiper-button swiper-button-next"></div>
				<div class="stock__button swiper-button swiper-button-prev"></div>
			</div>
		</div>
	</section>
	<section class="well__index--7 bg-grey">
		<div class="container">
			<h2 class="text-center">Купоны</h2>
			<div class="coupon-container swiper-container">
				<div class="coupon-wrapper swiper-wrapper">
					<div class="coupon swiper-slide">
						<div class="coupon__img">
							<div class="coupon__panel interactive-panel">
								<div class="interactive-panel__liked"></div>
								<div class="interactive-panel__favorite"></div>
							</div>
							<div class="coupon__banner banner">
								<div class="banner__asside">999&nbsp;999 <i class="fa fa-rouble"></i></div>
								<div class="banner__cnt">
									<div class="banner__text">Осталось<span class="banner__count">666</span>купонов</div>
								</div>
							</div><img src="images/coupon/coupon__img-1.jpg" alt=""/>
						</div>
						<div class="coupon__information information">
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div>
						<div class="coupon__cnt"><a class="coupon__title" href="#">Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными</a></div>
					</div>
					<div class="coupon swiper-slide">
						<div class="coupon__img">
							<div class="coupon__panel interactive-panel">
								<div class="interactive-panel__liked"></div>
								<div class="interactive-panel__favorite"></div>
							</div>
							<div class="coupon__banner banner">
								<div class="banner__asside">999&nbsp;999 <i class="fa fa-rouble"></i></div>
								<div class="banner__cnt">
									<div class="banner__text">Осталось<span class="banner__count">666</span>купонов</div>
								</div>
							</div><img src="images/coupon/coupon__img-1.jpg" alt=""/>
						</div>
						<div class="coupon__information information">
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div>
						<div class="coupon__cnt"><a class="coupon__title" href="#">Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными</a></div>
					</div>
					<div class="coupon swiper-slide">
						<div class="coupon__img">
							<div class="coupon__panel interactive-panel">
								<div class="interactive-panel__liked"></div>
								<div class="interactive-panel__favorite"></div>
							</div>
							<div class="coupon__banner banner">
								<div class="banner__asside">999&nbsp;999 <i class="fa fa-rouble"></i></div>
								<div class="banner__cnt">
									<div class="banner__text">Осталось<span class="banner__count">666</span>купонов</div>
								</div>
							</div><img src="images/coupon/coupon__img-1.jpg" alt=""/>
						</div>
						<div class="coupon__information information">
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div>
						<div class="coupon__cnt"><a class="coupon__title" href="#">Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными</a></div>
					</div>
					<div class="coupon swiper-slide">
						<div class="coupon__img">
							<div class="coupon__panel interactive-panel">
								<div class="interactive-panel__liked"></div>
								<div class="interactive-panel__favorite"></div>
							</div>
							<div class="coupon__banner banner">
								<div class="banner__asside">999&nbsp;999 <i class="fa fa-rouble"></i></div>
								<div class="banner__cnt">
									<div class="banner__text">Осталось<span class="banner__count">666</span>купонов</div>
								</div>
							</div><img src="images/coupon/coupon__img-1.jpg" alt=""/>
						</div>
						<div class="coupon__information information">
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div>
						<div class="coupon__cnt"><a class="coupon__title" href="#">Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными</a></div>
					</div>
					<div class="coupon swiper-slide">
						<div class="coupon__img">
							<div class="coupon__panel interactive-panel">
								<div class="interactive-panel__liked"></div>
								<div class="interactive-panel__favorite"></div>
							</div>
							<div class="coupon__banner banner">
								<div class="banner__asside">999&nbsp;999 <i class="fa fa-rouble"></i></div>
								<div class="banner__cnt">
									<div class="banner__text">Осталось<span class="banner__count">666</span>купонов</div>
								</div>
							</div><img src="images/coupon/coupon__img-1.jpg" alt=""/>
						</div>
						<div class="coupon__information information">
							<div class="information__likes">
								<div class="information__icon information__icon_likes"></div>
								<div class="information__likes-val">4.7</div>
							</div>
							<div class="information__comments">
								<div class="information__icon information__icon_comments"></div>
								<div class="information__comments-val">1000K</div>
							</div>
							<div class="information__viewers">
								<div class="information__icon information__icon_viewers"></div>
								<div class="information__viewers-val">1000K</div>
							</div>
						</div>
						<div class="coupon__cnt"><a class="coupon__title" href="#">Теперь они вновь путешествуют по всему миру и охотно делятся миллионами телезрителей своими обширными</a></div>
					</div>
				</div>
				<!--Add Arrows-->
				<div class="coupon__button swiper-button swiper-button-next"></div>
				<div class="coupon__button swiper-button swiper-button-prev"></div>
			</div>
		</div>
	</section>
	<section class="well__index--8">
		<div class="container">
			<h2 class="text-center">Торговые центр</h2>
			<div class="prodCenter-wrapper">
				<div class="prodCenter">
					<div class="prodCenter__img">
						<div class="prodCenter__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div>
						<div class="prodCenter__discount discount">
							<div class="discount__percent">-90%<span class="discount__prepercent">до</span></div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div><img src="images/product center/prodCenter__img-1.jpg" alt=""/>
					</div>
					<div class="prodCenter__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="prodCenter__cnt"><a class="prodCenter__title" href="#">ТРК «Альтаир»</a>
						<address class="prodCenter__address">ул. Нижегородская, д. 122, г. Нижний Новгород</address>
						<div class="prodCenter__contCompany">Компаний:<a class="prodCenter__link" href="#">455</a></div>
					</div>
				</div>
				<div class="prodCenter">
					<div class="prodCenter__img">
						<div class="prodCenter__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div>
						<div class="prodCenter__discount discount">
							<div class="discount__percent">-90%<span class="discount__prepercent">до</span></div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div><img src="images/product center/prodCenter__img-1.jpg" alt=""/>
					</div>
					<div class="prodCenter__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="prodCenter__cnt"><a class="prodCenter__title" href="#">ТРК «Волшебный мир»</a>
						<address class="prodCenter__address">ул. Нижегородская, д. 122, г. Нижний Новгород</address>
						<div class="prodCenter__contCompany">Компаний:<a class="prodCenter__link" href="#">455</a></div>
					</div>
				</div>
				<div class="prodCenter">
					<div class="prodCenter__img">
						<div class="prodCenter__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div>
						<div class="prodCenter__discount discount">
							<div class="discount__percent">-90%<span class="discount__prepercent">до</span></div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div><img src="images/product center/prodCenter__img-1.jpg" alt=""/>
					</div>
					<div class="prodCenter__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="prodCenter__cnt"><a class="prodCenter__title" href="#">ТРК «Альтаир номер двадцать пять»</a>
						<address class="prodCenter__address">ул. Нижегородская, д. 122, г. Нижний Новгород</address>
						<div class="prodCenter__contCompany">Компаний:<a class="prodCenter__link" href="#">455</a></div>
					</div>
				</div>
				<div class="prodCenter">
					<div class="prodCenter__img">
						<div class="prodCenter__panel interactive-panel">
							<div class="interactive-panel__liked"></div>
							<div class="interactive-panel__favorite"></div>
						</div>
						<div class="prodCenter__discount discount">
							<div class="discount__percent">-90%<span class="discount__prepercent">до</span></div>
							<div class="discount__icons">
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
								<div class="discount__icon" data-icon="crop"></div>
								<div class="discount__icon" data-icon="percent"></div>
							</div>
						</div><img src="images/product center/prodCenter__img-1.jpg" alt=""/>
					</div>
					<div class="prodCenter__information information">
						<div class="information__likes">
							<div class="information__icon information__icon_likes"></div>
							<div class="information__likes-val">4.7</div>
						</div>
						<div class="information__comments">
							<div class="information__icon information__icon_comments"></div>
							<div class="information__comments-val">1000K</div>
						</div>
						<div class="information__viewers">
							<div class="information__icon information__icon_viewers"></div>
							<div class="information__viewers-val">1000K</div>
						</div>
					</div>
					<div class="prodCenter__cnt"><a class="prodCenter__title" href="#">ТРК «Волшебный мир»</a>
						<address class="prodCenter__address">ул. Нижегородская, д. 122, г. Нижний Новгород</address>
						<div class="prodCenter__contCompany">Компаний:<a class="prodCenter__link" href="#">455</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>