//FOOTER
footer.page-footer
    section.well-footer.bg-white
        .container
            .footer-panel
                .footer-panel__1
                    .brand
                        img.brand__logo(src="images/logo.png" alt="")
                .footer-panel__2
                    .about-us
                        -var aboutus__list = ["Наши контакты", "Помощь", "Правила и положения", "Приложения", "Сотрудничество", "О нас"];
                            ul.about-us__list
                                -for(var i = 0; i < aboutus__list.length; i++)
                                    li
                                        a(href="#") !{aboutus__list[i]}
                        a.btn-icon.about-us__btn(href="#")
                            .btn-icon__icon
                            | О Нас

                    .social
                        .social__text Присоединяйтесь к нам:
                        ul.social__icons
                            li.social__icon.social__icon--vk
                                a.social__link(href="#")
                            li.social__icon.social__icon--fb
                                a.social__link(href="#")
                            li.social__icon.social__icon--ok
                                a.social__link(href="#")
                            li.social__icon.social__icon--tw
                                a.social__link(href="#")
                            li.social__icon.social__icon--inst
                                a.social__link(href="#")
                .footer-panel__3
                    .btn-group
                        a.btn-post.btn-group__item(href="#")
                            .btn-post__icon.btn-post__icon--camera
                            .btn-post__text Запостить
                        a.btn-icon.btn-group__item(href="#")
                            .btn-icon__icon
                            | Добавить