/*
* @section      Components
* @Components	About us Cutting
*/

.page-template{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	margin: 0 -10px;
	&__cnt,
	&__asside{
		margin: 0 10px;
	}
	&__cnt{
		width: 880px;
	}
	&__asside{
		display: flex;
		flex-direction: column;
		width: 280px;
		margin: -10px 0;
		> *:first-child{
			margin-top: 10px;
		}
	}
}