@import "core/variables";
@import "core/mixins";
@import "core/normalize";
/*
* @section      Grid module
* @description  This section use grid
*/
@import "modules/grid";
/*
* @section      Fonts
* @description  This section holds all icon fonts stored in template
*/
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "//fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic";

/*========================================================
                      Main Styles
=========================================================*/
/*
* @section      Main Styles
* @description  This section holds template default elements style declarations
*/
.page {
	overflow: hidden;
	.lt-ie9 & {
		min-width: 1200px;
	}
}

html {
	font-size: 70px;

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
		font-size: 80px;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
		font-size: 90px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 100px;
	}
}

body {
	font-family: $default-font-family;
	font-weight: $default-font-weight;
	font-size: $default-font-size;
	line-height: $default-line-height;
	-webkit-text-size-adjust: none;
	color: $content-color;
	background: $content-bg;
}

/*========================================================
                      Typography
=========================================================*/
/*
* @subsection   Typography
* @description  Describes default font settings for basic html elements and
*               css classes
*/
h1, .heading-1 {
	font-size: 37px;
	line-height: 1.35;
	font-weight: 500;
	color: $black;
}

h2, .heading-2 {
	font-size: 37px;
	line-height: 1.35;
	font-weight: 500;
	color: $black;
}


h3, .heading-3 {
	font-size: 35px;
	line-height: 1.43;
	font-weight: 500;
	color: $black;
}

p, .list, .contact-info {
	a:hover {
		text-decoration: underline;
	}
}

a {
	cursor: pointer;
}

/*
* @section      Helpers
* @description  This section contain helpers style
*/
@import "helpers/text-alignment";

/*=======================================================
                       Main Layout
=========================================================*/
/*
* @subsection   Backgrounds
* @description  Backgrounds custom styles
*/
.bg-white {
	background: $white !important;
}

.bg-grey {
	background: #e6e6e6;
}

.bg-what {
	background: darken(saturate(adjust-hue($white, 0.0000), 0.0000), 3.1373)
}

/*
* @subsection   Colors
* @description  Colors custom styles
*/
.clr-white {
	color: $white;
}

.clr-default {
	color: $default !important;
}

/*
* @subsection   Well
* @description  Describes section inner indents
*/
.well__index{
	&--1 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&--2 {
		padding-top: 65px;
		padding-bottom: 20px;
	}
	&--3 {
		padding-top: 60px;
		padding-bottom: 45px;
	}
	&--4 {
		padding-top: 50px;
		padding-bottom: 55px;
	}
	&--5 {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	&--6 {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	&--7 {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	&--8 {
		padding-top: 50px;
		padding-bottom: 35px;
	}
}

.well__about-us{
	&--1{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&--2{
		padding-top: 20px;
		padding-bottom: 40px;
	}
}

/*=======================================================
                        Components
=========================================================*/
/*
* @section      Components
* @description  This section holds all elements style declarations of template
*/

/*
* @section      Components
* @Components	Swiper btn
*/

.swiper-button {
	width: 58px;
	height: 58px;
	top: 100px;
	border-radius: 50%;
	&:before {
		content: '';
		position: absolute;
		width: 14px;
		height: 20px;
		background: url("../images/arrow.png") no-repeat center center;
		top: 50%;
		transform-origin: 50% 50% 0;
		transform: translateY(-50%) rotate(0deg);
	}

	&-prev {
		left: calc((58px / 2) * (-1));
		&:before {
			left: 50%;
		}
	}
	&-next {
		right: calc((58px / 2) * (-1));
		&:before {
			right: 50%;
			transform: translateY(-50%) rotate(180deg);
		}
	}
}

/*
* @section      Components
* @Components	About us List
*/
.about-us{
	&__list{
		position: absolute;
		//top: -400px;
		width: 180px;
		left: -20px;
		background: $white;
		border-radius: 4px;
		box-shadow: 1px 1px 25px 0 rgba(153,153,153,1);
		transition: 0.3s ease all;
		&:before{
			content: '';
			position: absolute;
			left: 50%;
			bottom: -10px;
			@include triangle(bottom, 20px, 10px, $white);
			transform: translateX(-50%);
		}
		li{
			position: relative;
			display: block;
			&:before {
				position: absolute;
				content: '';
				bottom: 0;
				width: 100%;
				height: 1px;
				background: #e4e4e4;
			}
			a{
				display: block;
				padding-left: 20px;
				color: $black;
				font-weight: 700;
				line-height: 40px;
			}
		}
	}

	&__list{
		visibility: hidden;
		opacity: 0;
		&--opened{
			visibility: visible;
			opacity: 1;
		}

		li:hover{
			background: #e4e4e4;
		}
	}
}

/*
* @section      Components
* @Components	Advertising
*/
.advertising{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 360px;
	background: $default;
	margin: 10px 0;
	&__cnt{
		text-align: center;
		color: $white;
		font-size: 26px;
		line-height: 1.2;
		font-weight: 700;
	}
}

/*
* @section      Components
* @Components	Map
*/

.map{
	&__yandex{
		width: 100%;
		height: 280px;
		background: gray;
	}
	&__link{
		display: block;
		text-decoration: underline;
		margin-top: 10px;
		font-size: 14px;
		line-height: 20px;
	}
}


/*
* @section      Components
* @Components	Standart tab content
*/

.standart-format{
	h2{
		font-size: 45px;
		line-height: 1.2;
		font-weight: 700;
		color: #5c5c5c;
	}
	p{
		font-size: 14px;
		line-height: 24px;
		color: $black;
	}

	* + h2{
		margin-top: 40px;
	}
	* + p{
		margin-top: 20px;
	}
}



/*
* @subsection   Imports
*/
@import "components/header-panel";
@import "components/footer-panel";
@import "components/navigation";
@import "components/category";
@import "components/news";
@import "components/information";
@import "components/dressroom";
@import "components/comment";
@import "components/interactive-panel";
@import "components/product";
@import "components/tag";
@import "components/price";
@import "components/discount";
@import "components/btn";
@import "components/shop";
@import "components/stock";
@import "components/coupon";
@import "components/banner";
@import "components/prodCenter";
@import "components/carouselFull";
@import "components/auth";
@import "components/location-styles";
@import "components/filter-styles";
@import "components/marker";
@import "components/social-btn";
@import "components/syncCarousel";

@import "components/page-cut/page-template";
@import "components/breadcrumbs";

@import "components/page-aboutUs/card";
@import "components/page-aboutUs/tabs";
@import "components/page-aboutUs/write-review";


/* ========================================================
                     HEADER  Section
=========================================================*/
/*
* @section      Page Header
* @description  This section holds specific style redeclarations for some
*               of common elements in page header
*/
header, .page-header {
	position: relative;
}

/* ========================================================
					 MAIN  Section
=========================================================*/
/*
* @section      Page Content
* @description  This section holds specific style redeclarations for some
*               of common elements in page content
*/
main, .page-content {
	min-height: 100vh;
	background: $content-bg;
}

/* ========================================================
					 FOOTER  Section
=========================================================*/
/*
* @section      Page Footer
* @description  This section holds specific style redeclarations for some
*               of common elements in page footer
*/
footer, .page-footer {
	background: $footer-bg;
	color: $footer-color;
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 569px) {

}

@media (max-width: 399px) {
}


.comment-wrapp{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	&__asside{
		width: 180px;
		text-align: center;
	}
	&__cnt{
		width: calc(100% - 180px - 20px);
		margin-left: 20px;
	}

	&__face{
		width: 80px;
		height: 80px;
		@include border-radius(50%);
	}
	&__name{
		color: #e73e41;
		font-size: 15px;
		line-height: 24px;
		font-weight: 700;
		font-family: $default-font-family;
		text-decoration: underline;
	}


	&__top-bar{}
	&__middle-comm {}
	&__bottom-bar{}

	&__more{
		color: #e73e41;
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		font-family: $default-font-family;

		display: block;
		span{
			border-bottom: 1px dashed #e73e41;
		}
	}


	&__galery{
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	&__galery-item{

	}

	&__galery-img{
		width: 100px;
		height: 136px;
		margin: 20px 18px 20px 0;
		background: gray;
	}

	&__answer{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__answer-asside{
		position: relative;
		width: 80px;
		&:before{
			position: absolute;
			content: url("../images/answer-arrow.png");
			top: 10px;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}
	&__answer-cnt{
		width: calc(100% - 80px);
	}
}

